<div class="sic-com-registracion login-template placement" ngClass.gt-xs="tablet" ngClass.gt-md="desktop">
  <a routerLink="/" fxLayout="row" fxLayoutAlign="start center" class="back-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span>Ir al Inicio</span>
  </a>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/images/logo-globo-500x500px.png" alt="logo">
    <h1>Registración</h1>
    <form [formGroup]="registracionForm" (ngSubmit)="registrar()" fxLayout="column">
      <div fxLayout="column" fxLayoutGap=".5rem">
        <mat-form-field fxFlex>
          <input matInput placeholder="Nombre" formControlName="nombre" required>
          <mat-error *ngIf="registracionForm.get('nombre').hasError('required')">
            Requerido
          </mat-error>
          <mat-error *ngIf="registracionForm.get('nombre').hasError('pattern')">
            Solo se permiten letras
          </mat-error>
          <mat-error *ngIf="registracionForm.get('nombre').hasError('maxlength')">
            Máximo {{ registracionForm.get('nombre').getError('maxlength').requiredLength }} caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Apellido" formControlName="apellido" required>
          <mat-error *ngIf="registracionForm.get('apellido').hasError('required')">
            Requerido
          </mat-error>
          <mat-error *ngIf="registracionForm.get('apellido').hasError('pattern')">
            Solo se permiten letras
          </mat-error>
          <mat-error *ngIf="registracionForm.get('apellido').hasError('maxlength')">
            Máximo {{ registracionForm.get('apellido').getError('maxlength').requiredLength }} caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Teléfono" type="tel" formControlName="telefono" required>
          <mat-error *ngIf="registracionForm.get('telefono').hasError('required')">
            Requerido
          </mat-error>
          <mat-error *ngIf="registracionForm.get('telefono').hasError('pattern')">
            Ingrese un teléfono válido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Email" type="email" formControlName="email" required>
          <mat-error *ngIf="registracionForm.get('email').hasError('email') && !registracionForm.get('email').hasError('required')">
            Ingrese un email válido
          </mat-error>
          <mat-error *ngIf="registracionForm.get('email').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-select placeholder="Categoría de IVA" formControlName="categoriaIVA" required>
            <mat-option *ngFor="let ci of keys(categoriasIVA)" [value]="ci">
              {{ categoriasIVA[ci] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registracionForm.get('categoriaIVA').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex *ngIf="registracionForm.get('categoriaIVA').value !== 'CONSUMIDOR_FINAL'">
          <input matInput placeholder="Nombre Fiscal" formControlName="nombreFiscal" required>
          <mat-error *ngIf="registracionForm.errors?.requiredNombreFiscal">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Contraseña" type="password" formControlName="password" required>
          <mat-error *ngIf="registracionForm.get('password').hasError('required')">
            Requerido
          </mat-error>
          <mat-error *ngIf="registracionForm.get('password').hasError('minlength')">
            Mínimo {{ registracionForm.get('password').getError('minlength').requiredLength }} caracteres
          </mat-error>
          <mat-error *ngIf="registracionForm.get('password').hasError('maxlength')">
            Máximo {{ registracionForm.get('password').getError('maxlength').requiredLength }} caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <span><br></span>
      <div fxLayout="column" fxLayoutGap=".7em" *ngIf="!loading">
          <button mat-flat-button class="bg-color-FFDA41">Registrarme</button>
          <a mat-flat-button routerLink="/login">Volver al Ingreso</a>
      </div>
    </form>
    <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
    </div>
  </div>
</div>
