.sic-com-registracion {

  padding: 1.5rem;
  background-color: white;

  h1 {
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
  }

  img {
    width: 170px;
  }

  form {
    width: 100%;
    max-width: 60rem;
  }
}
