<div class="sic-com-registracion">
  <a routerLink="/productos" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <strong>Ir a Productos</strong>
  </a>
  <div fxLayout="column" fxLayoutAlign="center center">
    <img src="assets/loginLogoTrans.png">
    <h1>Registración</h1>
    <form [formGroup]="registracionForm" (ngSubmit)="registrar()" fxLayout="column">
      <div fxLayout="column" fxLayoutGap=".5rem">
        <mat-form-field fxFlex>
          <input matInput placeholder="Nombre" formControlName="nombre" required>
          <mat-error *ngIf="registracionForm.get('nombre').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Apellido" formControlName="apellido" required>
          <mat-error *ngIf="registracionForm.get('apellido').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Teléfono" formControlName="telefono" required>
          <mat-error *ngIf="registracionForm.get('telefono').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Email" type="email" formControlName="email" required>
          <mat-error *ngIf="registracionForm.get('email').hasError('email') && !registracionForm.get('email').hasError('required')">
            Por favor, ingrese un email válido
          </mat-error>
          <mat-error *ngIf="registracionForm.get('email').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-select placeholder="Categoría de IVA" formControlName="categoriaIVA" required>
            <mat-option *ngFor="let ci of keys(categoriasIVA)" [value]="ci">
              {{ categoriasIVA[ci] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="registracionForm.get('categoriaIVA').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex *ngIf="registracionForm.get('categoriaIVA').value !== 'CONSUMIDOR_FINAL'">
          <input matInput placeholder="Nombre Fiscal" formControlName="nombreFiscal" required>
          <mat-error *ngIf="registracionForm.errors?.requiredNombreFiscal">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Contraseña" type="password" formControlName="password" required>
          <mat-error *ngIf="registracionForm.get('password').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
      </div><br>
      <mat-action-row fxLayout="column" fxLayoutAlign="center center">
        <ngx-recaptcha2 #captchaElem
          [siteKey]="siteKey"
          hl="es-419"
          theme="light"
          formControlName="recaptcha">
        </ngx-recaptcha2>
        <span><br></span>
        <button fxFill mat-raised-button color="primary" *ngIf="!loading" >Registrarme</button><br>
      </mat-action-row>
    </form>
    <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
    </div>
  </div>
</div>
