.sic-com-registracion {
  padding: .5rem;
  background: whitesmoke;

  h1 {
    margin: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  img {
    width: 180px;
    margin: 1.25rem 0;
  }

  form {
    width: 90%;
    max-width: 350px;
  }

  a {
    text-decoration: none;
    font-size: 0.9em;
    color: inherit;
  }
}
