<div class="sic-com-clientes" fxLayout="column">
  <h2 mat-dialog-title>Clientes</h2>
  <mat-dialog-content fxLayout>
    <mat-form-field fxFlex>
      <input #buscarCliente type="text" matInput placeholder="Nombre" autofocus
             (keyup.enter)="getClientes(buscarCliente.value, 0, true)">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-content>
    <mat-nav-list>
      <div *ngFor="let c of clientes">
        <mat-list-item (click)="seleccionarCliente(c['id_Cliente'])"
                      [ngClass]="(c.razonSocial == cliente.razonSocial) ? 'sic-com-cliente-seleccionado' : ''">
          <span mat-line class="sic-com-idFiscal-cliente">{{c.idFiscal}}</span>
          <span mat-line>{{c.razonSocial}}</span>
          <span mat-line [ngClass]="(c.razonSocial == cliente.razonSocial) ? 'sic-com-cliente-seleccionado' : 'sic-com-nombre-fantasia-cliente'">
            {{c.nombreFantasia}}
          </span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
      <div fxLayoutAlign="center center" class="sic-com-mas-resultados"
           (click)="getClientes(buscarCliente.value, (pagina + 1), false)"
           *ngIf="(clientes.length > 0) && (totalPaginas > (pagina + 1)) && !loadingClientes">
        <strong>MAS RESULTADOS</strong>
      </div>
    </mat-nav-list>
    <div fxLayoutAlign="center center">
      <mat-spinner [diameter]="50" [strokeWidth]="6" *ngIf="loadingClientes"></mat-spinner>
    </div>
  </mat-dialog-content>
</div>
