.sic-com-clientes {

  .sic-com-cliente-seleccionado {
    color: #ff5722;
  }

  .sic-com-nombre-fantasia-cliente {
    font-size: 12px;
    color: #666;
  }

  .sic-com-idFiscal-cliente {
    font-size: 12px;
  }

  .sic-com-mas-resultados {
    color: #ff5722;
    cursor: pointer;
    height: 60px;
  }
}
