@use '../../../colors' as colors;

.sic-com-password-recovery-request {
  p.info {
    text-align: left;
  }

  .titulo {
    text-align: left;
  }
}

.sic-com-password-matching-error {
  color: colors.$color-EB5757;
}