<div fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner *ngIf="loading" [diameter]="50" [strokeWidth]="6"></mat-spinner>
</div>
<div *ngIf="!loading" class="sic-com-password-recovery-request login-template placement" ngClass.gt-xs="tablet" ngClass.gt-md="desktop">
  <div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="passwordReset" (ngSubmit)="newPassword()">
      <img src="https://res.cloudinary.com/hf0vu1bg2/image/upload/v1588301481/assets/logo-globo-500x500px.png"
        alt="logo">
      <mat-form-field fxFill>
          <input matInput autofocus name="password" type="password" formControlName="password" class="styleInput"
          placeholder="Nueva contraseña" required>
          <mat-error *ngIf="passwordReset.get('password').hasError('minlength')">
            Mínimo {{ passwordReset.get('password').getError('minlength').requiredLength }} caracteres
          </mat-error>
          <mat-error *ngIf="passwordReset.get('password').hasError('maxlength')">
            Máximo {{ passwordReset.get('password').getError('maxlength').requiredLength }} caracteres
          </mat-error>
      </mat-form-field>
      <mat-form-field fxFill>
        <input matInput autofocus name="confirmPassword" type="password" formControlName="confirmPassword" class="styleInput" 
          placeholder="Repetir contraseña" required>
          <mat-error *ngIf="passwordReset.get('confirmPassword').hasError('minlength')">
            Mínimo {{ passwordReset.get('confirmPassword').getError('minlength').requiredLength }} caracteres
          </mat-error>
          <mat-error *ngIf="passwordReset.get('confirmPassword').hasError('maxlength')">
            Máximo {{ passwordReset.get('confirmPassword').getError('maxlength').requiredLength }} caracteres
          </mat-error>
          <mat-error *ngIf="passwordReset.get('confirmPassword').hasError('passwordsNotMatching')">
            Las contraseñas deben ser iguales.
          </mat-error>
      </mat-form-field>
      <br><br>
      <div fxLayout="column" fxLayoutGap=".7em">
        <button fxFill mat-flat-button color="primary" routerLink="'login'" (click)="newPassword()">Aceptar</button>
      </div>
    </form>
  </div>
</div>