<div class="sic-com-password-recovery-request login-template placement" ngClass.gt-xs="tablet" ngClass.gt-md="desktop">
  <a routerLink="/" fxLayout="row" fxLayoutAlign="start center" class="back-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span>Ir al Inicio</span>
  </a>
  <div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="passwordResetForm" (ngSubmit)="changePassword()">
      <img src="assets/images/logo-globo-500x500px.png" alt="logo">
      <mat-form-field fxFill>
        <input matInput autofocus name="newPassword" type="password" formControlName="newPassword" class="styleInput"
          placeholder="Nueva contraseña" required>
        <mat-error *ngIf="passwordResetForm.get('newPassword').hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="passwordResetForm.get('newPassword').hasError('minlength')">
          Mínimo {{ passwordResetForm.get('newPassword').getError('minlength').requiredLength }} caracteres
        </mat-error>
        <mat-error *ngIf="passwordResetForm.get('newPassword').hasError('maxlength')">
          Máximo {{ passwordResetForm.get('newPassword').getError('maxlength').requiredLength }} caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFill>
        <input matInput name="confirmPassword" type="password" formControlName="confirmPassword" class="styleInput"
          placeholder="Repetir contraseña" required>
        <mat-error *ngIf="passwordResetForm.get('confirmPassword').hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="passwordResetForm.get('confirmPassword').hasError('minlength')">
          Mínimo {{ passwordResetForm.get('confirmPassword').getError('minlength').requiredLength }} caracteres
        </mat-error>
        <mat-error *ngIf="passwordResetForm.get('confirmPassword').hasError('maxlength')">
          Máximo {{ passwordResetForm.get('confirmPassword').getError('maxlength').requiredLength }} caracteres
        </mat-error>
      </mat-form-field>
      <br><br>
      <span class="sic-com-password-matching-error" *ngIf="passwordResetForm.hasError('passwordMatching')">
        Las contraseñas deben ser iguales
      </span>
      <br><br>
      <div *ngIf="!loading" fxLayout="column" fxLayoutGap=".7em">
        <button fxFill mat-flat-button class="bg-color-FFDA41" (click)="changePassword()">Confirmar</button>
      </div>
      <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
      </div>
    </form>
  </div>
</div>

