<div class="sic-com-password-recovery-request">
  <a routerLink="/" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <strong>Ir a la Portada</strong>
  </a>
  <div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="requestForm" (ngSubmit)="request()">
      <img src="https://res.cloudinary.com/hf0vu1bg2/image/upload/v1557317348/assets/logo-globodeoro-500x500px.png">
      <h2 class="titulo">Recupero de contraseña</h2>
      <p class="info">Por favor, ingrese el correo electrónico asociado a su cuenta de usuario</p>
      <mat-form-field fxFill>
        <input matInput autofocus name="email" required type="email" formControlName="email"
               placeholder="Correo electrónico">
        <mat-error *ngIf="requestForm.get('email').hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="requestForm.get('email').hasError('email') && !requestForm.get('email').hasError('required')">
          Por favor, ingrese un email válido
        </mat-error>
      </mat-form-field>
      <br><br>
      <div *ngIf="!loading" fxLayout="column" fxLayoutGap=".7em">
        <button fxFill mat-raised-button color="primary" >Aceptar</button>
        <a fxFill mat-raised-button routerLink="/login">Volver al Ingreso</a>
      </div>
      <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
      </div>
    </form>
  </div>
</div>
