@use '../../../colors' as colors;

.sic-com-producto {
  color: colors.$color-536070;

  .preview-and-info {
    margin: 1rem 0;
    padding: 0.5rem 0;
    background-color: white;
  }

  .img-container {
    position: relative;
    .rubro {
      position: absolute;
      top: 1rem;
      left: 1rem;
      z-index: 1;
      display: inline-block;
      padding: 0.45em 0.6em 0.3em 0.6em;
      font-size: 0.9em;
      border-radius: 0.3em;
      background: colors.$color-BDBDBD;
      color: colors.$color-F2F2F2;
      font-weight: 500;
    }
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 100%;
      max-width: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      object-position: center center;
      margin: 0;
      display: inline-block;
      &:hover {
        cursor: zoom-in;
      }
    }
  }

  .img-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 200;
    img {
      max-width: 100%; height: auto;
      &:hover {
        cursor: zoom-out;
      }
    }
  }

  .detalle-producto {
    padding: .5rem;
  }
}
