@import "../../../_colors.scss";

.sic-com-producto {
  background-color: white;

  .sic-com-ir-listado {
    height: 40px;
    cursor: pointer;
  }

  .sic-com-img-producto {
    height: 220px;
  }

  .sic-com-detalle-producto {
    border-top: 1px solid #ccc;
    padding: 20px 15px;
    max-width: 60%;
  }

  .sic-com-codigo-producto {
    font-size: 12px;
  }

  .sic-com-descripcion-producto {
    color: $color-primary;
    font-weight: bold;
    font-size: 18px;
  }

  .sic-com-precio-producto {
    font-weight: bold;
    font-size: 20px;
    &.bonificado {
      font-weight: normal;
      text-decoration: line-through;
    }
  }

  .sic-com-precio-bonificado {
    font-size: 20px;
    font-weight: bold;
  }

  .bonificado-label {
    color: green;
    font-size: 18px;
  }

  .sic-com-controles-cantidad {
    padding: 22px 0;
  }

  .sic-com-input-cantidad {
    width: 100px;
    padding: 0 10px;
  }

  .sic-com-boton-agregar {
    width: 200px;
    height: 40px;
  }

  .sic-com-stock {
    color: white;
    font-weight: 500;
  }

  .sic-com-oferta {
    display: inline-block;
    mat-chip {
      min-height: 22px;
      font-size: 0.85rem;
      background: limegreen;
      color: white;
    }
  }
  .oferta-cantidad {
    color: limegreen;
    font-weight: bold;
  }

  .img-viewer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    z-index: 200;
    img {
      max-width: 100%; height: auto;
    }
  }

  .sic-com-spinner-container {
    height: 90px;
    color: $color-primary;
  }
}
