.sic-com-boton-mercado-pago {
  padding: 0;

  .mp-boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    min-width: 13rem;
    padding: .5rem 2rem;
    width: 13rem;
    letter-spacing: normal;

    .mdc-button__label {
      display: inline-flex;
      align-items: center;
      gap: 0.4rem;
    }    
  }
}

