<div class="sic-com-boton-mercado-pago" fxLayout="row" fxLayoutAlign="center center">
  <mat-spinner *ngIf="loading" [diameter]="30" [strokeWidth]="4"></mat-spinner>
  <button class="mp-boton bg-color-FFDA41" mat-flat-button title="Pagar con Mercado Pago" (click)="goToInitPoint()" *ngIf="!loading"
          [disabled]="isDisabled()">
                Pagar con
                          <img src="assets/images/mercadopago-logo.png" alt="Mercado Pago" width="45%" style="vertical-align: middle">
  </button>
</div>
