.sic-com-boton-mercado-pago {
  padding: 0;
  .mp-boton {
    display: inline-block;
    height: 3.2rem;
    min-width: 13rem;
    padding: .5rem 1rem;
    line-height: unset!important;
    img {
      height: 85%;
    }
  }
}
