footer {
  font-size: .9rem;
  line-height: 1.5rem;
  color: white;
  padding-top: 2rem;
  .instagram {
    margin-right: 1rem;
  }
  img.brands {
    width: 35px;
    height: auto;
  }
  .centrado {
    text-align: center;
    margin-bottom: 1rem;
  }
}
