<footer fxLayout="column" fxLayoutAlign="space-evenly center">
  <div fxFlex class="centrado info">
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="0.15rem" fxLayoutAlign="center center">
      <strong>Globo de Oro</strong>
    </div>
    <div><strong>Local comercial: </strong>9 de Julio 1021</div>
    <div><strong>Local comercial: </strong>Av. Gobernador Ruiz 2600</div>
    <div>Corrientes - Argentina</div>
  </div>
  <div fxFlex="20" class="centrado">
    <div class="seguinos">Seguinos</div>
    <a class="instagram" href="https://www.instagram.com/globo.de.oro/" target="_blank" rel="noopener noreferrer">
      <img class="brands top" src="assets/instagram.svg" alt="Globo de Oro en Instagram">
    </a>
    <a class="facebook" href="https://www.facebook.com/GloboDeOro/" target="_blank" rel="noopener noreferrer">
      <img class="brands top" src="assets/facebook.svg" alt="Globo de Oro en Facebook">
    </a>
  </div>
</footer>
