footer {
  font-size: 14px;
  color: gray;
  padding-top: 2rem;
  //background: whitesmoke;
  //box-shadow: 0 14px 5px 6px #aaaaaa;
  //-webkit-box-shadow: 0 14px 5px 6px #aaaaaa;
  //-moz-box-shadow: 0 14px 5px 6px #aaaaaa;
  .instagram {
    margin-right: 1rem;
  }
  img.brands {
    width: 35px;
    height: auto;
  }
  .centrado {
    text-align: center;
    margin-bottom: 1rem;
  }
}
