.sic-com-productos-destacados {
  position: relative;
  height: 400px;

  .scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    background: #efefef;
    padding-top: .4rem;
    padding-left: .4rem;

    mat-card.destacado {
      display: inline-block;
      height: 370px;
      width: 250px;
      margin-right: .3rem;
      white-space: normal;
      background: white;
      padding: .5rem;

      img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
      }

      mat-card-actions {
        margin: 0;
      }
    }
  }
}
