.qa-banner {
  .env-banner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    text-align: center;
    background: #39ff14;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
