<div class="sic-com-navbar">
  <mat-toolbar ngClass.gt-sm="desktop" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.3rem">
    <div fxLayoutAlign="center center">
      <img src="https://res.cloudinary.com/hf0vu1bg2/image/upload/v1607995954/assets/nuevo_logo_Globo_De_Oro.svg"
           class="sic-com-logo-chico" ngClass.gt-xs="tablet" ngClass.gt-sm="desktop" routerLink="/" alt="logo">
    </div>
    <form id="buscador-form" fxFlex fxLayout="row" fxLayoutAlign="center center" [formGroup]="busquedaForm" (ngSubmit)="submit()" ngClass.gt-sm="desktop">
      <input class="sic-com-buscador-input" type="search" placeholder="¿Qué buscás?" formControlName="criteriaControl">
      <button id="lupa-button" mat-icon-button type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div *ngIf="authService.isAuthenticated()">
      <button mat-icon-button [routerLink]="['/productos/favoritos']" matTooltip="Favoritos">
        <mat-icon>favorite</mat-icon>
        <span class="contador" *ngIf="(cantidadEnFavoritos > 0)">{{cantidadEnFavoritos}}</span>
      </button>
      <button mat-icon-button [routerLink]="['/carrito-compra']" matTooltip="Ir al carrito">
        <mat-icon>shopping_cart</mat-icon>
        <span class="contador" *ngIf="(cantidadItemsEnCarrito > 0)">{{cantidadItemsEnCarrito}}</span>
      </button>
      <button mat-icon-button matTooltip="Mostrar menú" [matMenuTriggerFor]="authMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #authMenu="matMenu" xPosition="before">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Mi cuenta</span>
        </button>
        <mat-divider></mat-divider>
        <sic-com-rubros-list [rubros]="rubros" [hideTodos]="true"></sic-com-rubros-list>
      </mat-menu>
    </div>
    <div *ngIf="!authService.isAuthenticated()">
      <button mat-icon-button matTooltip="Ingresar" [routerLink]="['/login']">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>

