.sic-com-navbar {
  #buscador-form {
    position: relative;

    .sic-com-buscador-input {
      width: 100%;
      border: none;
      padding: 10px;
      font-size: 18px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding-left: 2em;
    }

    #lupa-button {
      position: absolute;
      left: 0;
    }
  }

  .sic-com-logo-grande {
    //width: 150px;
    //height: 50px;
    height: 50px;
    width: auto;
    cursor: pointer;
  }

  .sic-com-logo-chico {
    height: 50px;
    width: auto;
    cursor: pointer;
  }

  .sic-com-contador-carrito {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 1px solid #fff;
    position: absolute;
    background-color: green;
    top: -8px;
    right: -5px;
    padding: 0 6px;
    line-height: 20px;
  }
}
