<div class="sic-com-navbar">
  <mat-toolbar color="primary">
    <div fxHide.lt-md fxFlex.gt-sm="10"></div>
    <div fxFlex="20" fxLayoutAlign="center center">
      <img fxHide.lt-md src="assets/header-grandeTrans.png" class="sic-com-logo-grande" (click)="buscarProductos(busquedaForm.get('criteriaControl').value)">
      <img fxHide.gt-sm src="assets/logo-GD_bco.png" class="sic-com-logo-chico" (click)="buscarProductos(busquedaForm.get('criteriaControl').value)">
    </div>
    <form fxFlex fxLayoutAlign="center center" [formGroup]="busquedaForm">
      <input class="sic-com-buscador-input" type="search" formControlName="criteriaControl">
      <mat-icon class="sic-com-buscador-icon" (click)="buscarProductos(busquedaForm.get('criteriaControl').value)">search</mat-icon>
    </form>
    <div fxFlex.lt-md="15" fxFlex.gt-sm="20" fxLayoutAlign="center center">
      <button mat-icon-button fxHide.lt-md [matMenuTriggerFor]="menuReducido" matTooltip="Mi Perfil ({{usuarioConectado}})">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menuReducido="matMenu" fxHide.lt-md [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/perfil']">
          <mat-icon>account_circle</mat-icon>
          <span>Mi Perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
      <button mat-icon-button fxHide.lt-md [routerLink]="['/carrito-compra']" matTooltip="Ir al carrito">
        <mat-icon>shopping_cart</mat-icon>
        <span class="sic-com-contador-carrito" *ngIf="(cantidadItemsEnCarrito > 0)">{{cantidadItemsEnCarrito}}</span>
      </button>
      <button mat-icon-button fxHide.gt-sm [matMenuTriggerFor]="menuCompleto">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuCompleto="matMenu" fxHide.gt-sm [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/perfil']">
          <mat-icon>account_circle</mat-icon>
          <span>Mi Perfil ({{usuarioConectado}})</span>
        </button>
        <button mat-menu-item [routerLink]="['/carrito-compra']">
          <mat-icon>shopping_cart</mat-icon>
          <span>Ir al carrito ({{cantidadItemsEnCarrito}})</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </div>
    <div fxHide.lt-md fxFlex.gt-sm="10"></div>
  </mat-toolbar>
</div>
