@use '../../../colors' as colors;

.sic-com-navbar {
  mat-toolbar {
    background: colors.$color-FFDA41;
    padding: 0 .1rem;
    &.desktop {
      height: 90px;
    }
  }

  #buscador-form {
    //border: 1.5px solid $color-primary;
    border-radius: 7rem;
    background: white;
    padding: 0 0.3rem 0 0.7rem;
    height: 2rem;
    &.desktop {
      height: 2.2rem;
      //margin: 0 4rem !important;
    }
    input.sic-com-buscador-input {
      width: 100%;
      height: 95%;
      font-size: 14px;
      border: none;
      background: transparent;
      &:focus {
        outline: none;
      }
      &::placeholder {
        width: 100%;
      }
    }
    #lupa-button.mat-mdc-icon-button {
      //width: 30px;
      color: colors.$color-BDBDBD;
      background-color: transparent;
      box-shadow: none;
    }
  }

  /*.sic-com-logo-grande {
    height: 50px;
    width: auto;
    cursor: pointer;
  }*/

  .sic-com-logo-chico {
    outline: none;
    height: 50px;
    width: auto;
    cursor: pointer;
    &.tablet {
      height: 58px;
    }
    &.desktop {
      height: 80px;
    }
  }

  .contador {
    border-radius: 50%;
    min-width: 10px;
    min-height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    position: absolute;
    background-color: white;
    top: 5px;
    right: 2px;
    padding: 0 3px;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1rem
  }
}
