<div class="sic-com-navbar">
  <mat-toolbar class="tb" ngClass.gt-sm="desktop">
    <div fxHide fxShow.gt-sm fxFlex.gt-sm="5"></div>
    <div fxFlex="20" fxLayoutAlign="center center">
      <img src="https://res.cloudinary.com/hf0vu1bg2/image/upload/v1557317339/assets/logo-globodeoro-200x200px.png"
           class="sic-com-logo-chico" ngClass.gt-xs="tablet" ngClass.gt-sm="desktop" routerLink="/" alt="logo">
    </div>
    <form id="buscador-form" fxFlex fxLayoutAlign="center center" [formGroup]="busquedaForm" (ngSubmit)="submit()">
      <input class="sic-com-buscador-input" type="search" placeholder="¿Qué busca?" formControlName="criteriaControl">
      <button id="lupa-button" mat-icon-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <div fxFlex="15" fxFlex.gt-sm="20">
      <div fxLayoutAlign="center center" *ngIf="authService.isAuthenticated()">
        <button mat-icon-button fxHide fxShow.gt-sm [routerLink]="['/perfil']" matTooltip="Mi Perfil ({{usuarioConectado}})" color="primary">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button fxHide fxShow.gt-sm [routerLink]="['/carrito-compra']" matTooltip="Ir al carrito" color="primary">
          <mat-icon>shopping_cart</mat-icon>
          <span class="sic-com-contador-carrito" *ngIf="(cantidadItemsEnCarrito > 0)">{{cantidadItemsEnCarrito}}</span>
        </button>
        <button mat-icon-button fxShow fxHide.gt-sm [matMenuTriggerFor]="menuCompleto" color="primary">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menuCompleto="matMenu" fxShow fxHide.gt-sm [overlapTrigger]="false">
          <button mat-menu-item [routerLink]="['/perfil']">
            <mat-icon>account_circle</mat-icon>
            <span>Mi Perfil ({{usuarioConectado}})</span>
          </button>
          <button mat-menu-item [routerLink]="['/carrito-compra']">
            <mat-icon>shopping_cart</mat-icon>
            <span>Ir al carrito ({{cantidadItemsEnCarrito}})</span>
          </button>
        </mat-menu>
      </div>
      <div fxLayoutAlign="center center" *ngIf="!authService.isAuthenticated()">
        <button mat-icon-button color="primary" (click)="goToLogin()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
    <div fxHide fxShow.gt-sm fxFlex.gt-sm="5"></div>
  </mat-toolbar>
</div>
