<mat-dialog-content class="sic-com-cantidad-producto">
  <div fxLayoutAlign="center center">
    <button mat-mini-fab color="accent" (click)="cambiarCantidad(cantidad, 0)" [disabled]="loading">
      <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field class="sic-com-input-cantidad">
      <input matInput autofocus type="number" [(ngModel)]='cantidad' placeholder="Cantidad"
             min="0" [disabled]="loading">
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="cambiarCantidad(cantidad, 1)" [disabled]="loading">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center center">
  <button mat-raised-button color="primary" (click)="aceptar()" *ngIf="!loading" [disabled]="cantidad <= 0">Aceptar</button>
  <button mat-raised-button mat-dialog-close *ngIf="!loading">Cancelar</button>
  <mat-spinner [diameter]="50" [strokeWidth]="6" *ngIf="loading"></mat-spinner>
</mat-dialog-actions>

