@import "../../../../colors";

.sic-com-cantidad-producto {
  p.descripcion {
    color: $color-primary;
    font-weight: bold;
    margin-top: 0;
  }

  .sic-com-input-cantidad {
    width: 100px;
    padding: 0 10px;
  }

  .mat-dialog-actions {
    margin-bottom: 0!important;
  }

}
