<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Mi Usuario</mat-panel-title>
            <mat-icon>fingerprint</mat-icon>
        </mat-expansion-panel-header>
        <sic-com-usuario></sic-com-usuario>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>Mis Pedidos</mat-panel-title>
            <mat-icon>list</mat-icon>
        </mat-expansion-panel-header>
        <sic-com-pedidos></sic-com-pedidos>
    </mat-expansion-panel>
</mat-accordion>
