<div class="sic-com-usuario">
  <form fxLayout="column" [formGroup]="usuarioForm" (ngSubmit)="submit()" *ngIf="!isLoading && inEdition" fxLayoutGap="0.7rem">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
      <mat-form-field fxFlex="50">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" oninput="this.value = this.value.toLowerCase()">
        <mat-error *ngIf="usuarioForm.get('username').hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="!usuarioForm.get('username').hasError('required') && usuarioForm.get('username').hasError('pattern')">
          Sólo letras minúsculas, números y guiones
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('username').hasError('maxlength')">
          Máximo {{ usuarioForm.get('username').getError('maxlength').requiredLength }} caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="usuarioForm.get('email').hasError('email') && !usuarioForm.get('email').hasError('required')">
          Por favor, ingrese un email válido
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('email').hasError('required')">
          Requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
      <mat-form-field fxFlex="50">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
        <mat-error *ngIf="usuarioForm.get('nombre').hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('nombre').hasError('pattern')">
          Solo se permiten letras
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('nombre').hasError('maxlength')">
          Máximo {{ usuarioForm.get('nombre').getError('maxlength').requiredLength }} caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido">
        <mat-error *ngIf="usuarioForm.get('apellido').hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('apellido').hasError('pattern')">
          Solo se permiten letras
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('apellido').hasError('maxlength')">
          Máximo {{ usuarioForm.get('apellido').getError('maxlength').requiredLength }} caracteres
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
      <mat-form-field fxFlex="50">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-hint>Dejar en blanco para mantener la actual</mat-hint>
        <mat-error *ngIf="usuarioForm.get('password').hasError('minlength')">
          Mínimo {{ usuarioForm.get('password').getError('minlength').requiredLength }} caracteres.
        </mat-error>
        <mat-error *ngIf="usuarioForm.get('password').hasError('maxlength')">
          Máximo {{ usuarioForm.get('password').getError('maxlength').requiredLength }} caracteres
        </mat-error>
      </mat-form-field>
    </div>
    <br>
    <div fxLayoutGap="0.7rem" *ngIf="inEdition">
      <button class="small bg-color-FFDA41" mat-flat-button type="submit">Guardar</button>
      <button class="small bg-color-E0E0E0" mat-flat-button type="button" (click)="toggleEdit()">Cancelar</button>
    </div>
  </form>
  <div *ngIf="!isLoading && usuario && !inEdition" class="info">
    <div fxLayout="row" fxLayoutGap="0.7rem" fxLayoutAlign="start center">
      <mat-icon>account_circle</mat-icon>
      <span>{{ usuario.username }}</span>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="0.7rem" fxLayoutAlign="start center">
      <mat-icon>person</mat-icon>
      <span>{{ usuario.nombre }} {{ usuario.apellido}}</span>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="0.7rem" fxLayoutAlign="start center">
      <mat-icon>email</mat-icon>
      <span class="user-word-break">{{ usuario.email }}</span>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="0.7rem" fxLayoutAlign="start center">
      <mat-icon>group</mat-icon>
      <span class="user-word-break">{{ usuario.roles }}</span>
    </div>
    <br>
    <button class="small bg-color-FFDA41" mat-flat-button (click)="toggleEdit()">Modificar</button>
  </div>
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
