@use '../../../colors' as colors;

.sic-com-usuario {
  color: colors.$color-536070;
  font-size: 1.1rem;
  //font-weight: 500;
  .info {
    .mat-icon {
      color: colors.$color-BDBDBD;
    }
    .user-word-break {
      word-break: break-all;
    }
  }
}


