<div class="sic-com-mercado-pago">
  <span fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center" *ngIf="mpForm">
    <mat-icon>attach_money</mat-icon>
    <span>{{ monto| number:'1.2-2':'es-AR' }}</span>
  </span>
  <br>
  <form [formGroup]="mpForm" (ngSubmit)="submit($event)" id="pay" name="pay" fxLayout="column" *ngIf="mpForm && !pago">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5rem">
      <mat-form-field *ngIf="mpForm.get('monto')" fxFlex>
        <input type="number" matInput formControlName="monto" required>
        <mat-error *ngIf="mpForm.get('monto').hasError('required')">
          Requerido
        </mat-error>
      </mat-form-field>
      <div fxFlex fxLayoutAlign="center center">
        <mat-radio-group fxLayout="column" fxLayoutGap="1rem" formControlName="opcionPago">
          <mat-radio-button color="primary" *ngFor="let op of opcionesPago" [value]="op.value">{{ op.text }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div *ngIf="mpForm.get('opcionPago').value == opcionPago.TARJETA_CREDITO || mpForm.get('opcionPago').value == opcionPago.TARJETA_DEBITO" fxLayout="column" fxLayoutGap="0.5rem">
      <p>
        <strong>Ingrese los datos tal cual están en su tarjeta.</strong>
      </p>
      <p>VISA CREDITO: 4509 9535 6623 3704</p>
      <p>VISA DEBITO:  4055 1678 0230 2037</p>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <div  fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.7rem" fxFlex>
          <mat-form-field fxFlex="80">
            <mat-label>Nº de Tarjeta</mat-label>
            <input matInput required (keyup)="guessingPaymentMethod($event)" type="text" id="cardNumber" data-checkout="cardNumber" formControlName="cardNumber"
                   placeholder="4509 9535 6623 3704" onselectstart="return false" onpaste="return false" onCopy="return false"
                   onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off/>
            <mat-error *ngIf="mpForm.get('cardNumber').hasError('required')">
              Requerido
            </mat-error>
            <mat-error *ngIf="mpForm.get('cardNumber').hasError('invalid_type')">
              El medio de pago no coincide con la opción de pago seleccionada.
            </mat-error>
            <mat-error *ngIf="mpForm.get('cardNumber').hasError('amount_not_allowed')">
              El monto esta fuera del rango permitido para este medio de pago.
            </mat-error>
          </mat-form-field>
          <div fxFlex="20" fxLayoutAlign="center center">
            <img *ngIf="pmSecureThumbnail" [src]="pmSecureThumbnail" alt="Payment method image">
          </div>
        </div>
        <mat-form-field fxFlex>
          <mat-label>Código de seguridad</mat-label>
          <input matInput required type="text" id="securityCode" data-checkout="securityCode" formControlName="securityCode"
                 placeholder="123" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false"
                 onDrag="return false" onDrop="return false" autocomplete=off/>
          <mat-error *ngIf="mpForm.get('securityCode').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <mat-label>Mes de Expiración</mat-label>
          <input matInput required type="text" id="cardExpirationMonth" data-checkout="cardExpirationMonth" formControlName="cardExpirationMonth"
                 placeholder="12" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false"
                 onDrag="return false" onDrop="return false" autocomplete=off/>
          <mat-error *ngIf="mpForm.get('cardExpirationMonth').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>Año de Expiración</mat-label>
          <input matInput required type="text" id="cardExpirationYear" data-checkout="cardExpirationYear" formControlName="cardExpirationYear"
                 placeholder="2015" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false"
                 onDrag="return false" onDrop="return false" autocomplete=off/>
          <mat-error *ngIf="mpForm.get('cardExpirationYear').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <mat-label>Titular de la Tarjeta</mat-label>
          <input matInput required type="text" id="cardholderName" data-checkout="cardholderName" formControlName="cardholderName" placeholder="APRO"/>
          <mat-error *ngIf="mpForm.get('cardholderName').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>

        <!--<mat-form-field>
          <mat-label>Tipo de Documento</mat-label>
          <select matNativeControl required id="docType" data-checkout="docType" formControlName="docType">
            <option value="" selected></option>
            <option *ngFor="let td of tiposDocumento" [value]="td.id">{{ td.name }}</option>
          </select>
          <mat-error *ngIf="mpForm.get('docType').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>-->
        <input type="hidden" id="docType" data-checkout="docType" formControlName="docType">

        <mat-form-field fxFlex>
          <mat-label>Número de DNI</mat-label>
          <input matInput required type="text" id="docNumber" data-checkout="docNumber" formControlName="docNumber" placeholder="12345678" />
          <mat-error *ngIf="mpForm.get('docNumber').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="mpForm.get('opcionPago').value == opcionPago.TARJETA_CREDITO">
        <mat-label>Cuotas</mat-label>
        <mat-select required formControlName="installments">
          <mat-option *ngFor="let c of cuotas" [value]="c.cuotas">{{ c.texto }}</mat-option>
        </mat-select>
        <mat-error *ngIf="mpForm.get('installments').hasError('required')">
          Requerido
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="mpForm.get('opcionPago').value == opcionPago.EFECTIVO" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0.5rem">
      <mat-form-field fxFlex="80">
        <mat-label>Tipo de Pago</mat-label>
        <mat-select formControlName="paymentMethod" required>
          <mat-option *ngFor="let pm of pagosEfectivo" [value]="pm">{{ pm.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="mpForm.get('paymentMethod').hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="mpForm.get('paymentMethod').hasError('invalid_type')">
          El medio de pago no coincide con la opción de pago seleccionada.
        </mat-error>
        <mat-error *ngIf="mpForm.get('paymentMethod').hasError('amount_not_allowed')">
          El monto esta fuera del rango permitido para este medio de pago.
        </mat-error>
      </mat-form-field>
      <div fxFlex="20" fxLayoutAlign="center center">
        <img *ngIf="pmSecureThumbnail" [src]="pmSecureThumbnail" alt="Payment method image">
      </div>
    </div>
    <br>
    <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary" type="submit">Verificar</button>
    </div>
  </form>
  <div *ngIf="mpForm && pago">
    <div fxLayout="column" fxLayoutGap="0.7rem">
      <span fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
        <mat-icon>info</mat-icon>
        <span>{{ getOpcionPagoStr() }}:</span>
      </span>
      <span fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
        <mat-icon>grade</mat-icon>
        <span>{{ getPaymentMethodData().name }}</span>
        <img [src]="getPaymentMethodData().secure_thumbnail" alt="Payment image">
      </span>
      <span fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center" *ngIf="mpForm.get('opcionPago').value == opcionPago.TARJETA_CREDITO || mpForm.get('opcionPago').value == opcionPago.TARJETA_DEBITO">
        <mat-icon>credit_card</mat-icon>
        <span>Nro: {{ mpForm.get('cardNumber').value }}</span>
      </span>
      <span fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center" *ngIf="mpForm.get('opcionPago').value == opcionPago.TARJETA_CREDITO">
        <mat-icon>view_column</mat-icon>
        <span>Cuotas: {{ getCuotaStr() }}</span>
      </span>
    </div>
  </div>
</div>
