@import "../../../_colors.scss";

.sic-com-carrito-compra {
  .carrito-header-and-body {
    background-color: white;
  }
  .sic-com-ir-listado {
    height: 40px;
    cursor: pointer;
  }

  .sic-com-totalizadores {
    height: 60px;
    font-weight: bold;
    .subtotal.bonificado {
      font-weight: normal;
      text-decoration: line-through;
    }
  }

  .sic-com-botonera {
    padding: 0 2rem;
    margin: 0.7rem 0;
  }

  .sic-com-renglones-items {
    .stock-no-disponible {
      margin: .2rem 0;
      padding: .4rem .6rem;
      display: inline-block;
      text-align: center;
      color: white;
      font-size: .9rem;
      font-weight: 500;
      background-color: red;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    border-bottom: 1px solid #ccc;
    height: auto;
    .mat-line {
      white-space: normal;
    }
    padding-bottom: 7px;
    .precio-item.bonificado {
      font-weight: normal;
      text-decoration: line-through;
    }
  }

  .sic-com-img-avatar {
    width: 80px;
    height: 60px;
    border-radius: 0;
    object-fit: contain;
  }

  .sic-com-producto-info {
    padding: 13px 0 10px 0;
  }

  .sic-com-codigo-producto {
    font-size: 12px;
  }

  .sic-com-compra-minima {
    color: $color-primary;
  }

  .sic-com-oferta {
    display: inline-block;
    margin-left: 0.2rem;
    mat-chip {
      min-height: 22px;
      font-size: 0.85rem;
      background: limegreen;
      color: white;
    }
  }

  .oferta-cantidad {
    color: limegreen;
    font-weight: bold;
    font-size: 0.85em;
  }

  .precios {
    color: darkgray;
  }
  .seleccionado {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
  }
  .tachado {
    text-decoration: line-through;
  }

  .sic-com-descripcion-producto {
    color: $color-primary;
    font-weight: bold;
    font-size: 15px;
  }

  mat-chip-list {
    display: inline-block;
  }

  .sic-com-bonificacion {
    color: white;
    background-color: limegreen;
  }

  .monto {
    font-size: 16px;
    font-weight: bold;
  }

  .valor {
    white-space: nowrap;
  }

  .sic-com-input-cantidad {
    width: 100px;
    min-width: 60px;
    padding: 0 10px;
  }

  .sic-com-mas-resultados {
    color: $color-primary;
    cursor: pointer;
    height: 90px;
  }

  .sic-com-spinner-container {
    height: 90px;
    color: $color-primary;
  }

/*  .sic-com-paginator {
    padding: .7rem;
    .page {
      padding: .5rem .9rem;
      margin: 0 .3rem;
      background: #DFDFDF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }*/
  .total {
    color: red;
    &.cumple-compra-minima {
      color: limegreen;
    }
  }
  .fondo-rojo {
    background-color: red;
    color: white;
  }
}
