@import "../../../_colors.scss";

.sic-com-carrito-compra {
  color: $color-536070;
  .carrito {
    margin-top: 1rem;
    font-weight: 500;
    .item-carrito {
      background: white;
      padding: 0.7rem;
      margin-bottom: 0.7rem;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(160,160,160,0.5);
      box-shadow: 1px 1px 5px 0px rgba(160,160,160,0.5);
    }
  }

  .img-container {
    height: 9rem;
    text-align: center;
    padding: .5rem .5rem .5rem 0;
    img {
      max-width: 100%;
      max-height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      object-position: center center;
      margin: 0;
      display: inline-block;
    }
  }

  .oferta {
    margin-bottom: 1.3rem;
    font-size: 0.86em;
    font-weight: 500;
    .oferta-label {
      font-weight: bold;
      padding: .65em 1em .5em 1em;
      background: $color-30CC81;
      color: white;
      border-radius: 1.2em;
    }
    .oferta-descripcion {
      color: $color-30CC81;
    }
  }

  .producto {
    margin-bottom: 1.3rem;
    .producto-descripcion {
      font-weight: 500;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow:hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
    }
  }

  .precios {
    font-weight: 500;
    color: $color-828282;
    .seleccionado {
      color: $color-1E222B;
    }
  }

  .stock-no-disponible {
    text-align: center;
    margin-top: 0.5rem;
    color: $color-EB5757;
    font-size: 0.85em;
    font-weight: 600;
  }

  .cantidades {
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.57rem;
    font-weight: 500;

    .cantidad-minima {
      font-size: 0.9rem;
      color: $color-828282;
    }
    .total {
      .cantidad {
        color: $color-828282;
        &.cumple-compra-minima {
          color: $color-30CC81;
        }
      }
    }
  }

  &.desktop {
    .producto {
      .producto-descripcion {
        font-size: 1.2em;
      }
    }
    .precios {
      font-size: 1.2em;
    }
    .stock-no-disponible {
      margin-top: 1rem;
      font-size: unset;
    }
  }
  
  .mensaje {
    height: 100px;
    font-size: 1.2rem;
    text-align: center;
  }
}
