<div fxLayout="column" class="sic-com-carrito-compra">
  <div *ngIf="loadingPedido" fxLayoutAlign="center center" class="sic-comSpinnerDiv">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
  <div *ngIf="!loadingPedido">
    <div fxLayout="column">
      <div fxLayoutAlign="start center" class="sic-com-ir-listado" [routerLink]="['productos']">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <strong>Ir al listado</strong>
      </div>
      <div fxLayoutAlign="space-around center" class="sic-com-totalizadores" fxLayout.lt-sm="column">
        <span>Cant. Articulos: {{cantidadArticulos}}</span>
        <span>Total: {{totalLista | sicComCurrency }}</span>
      </div>
      <div fxLayoutAlign="space-around center" class="sic-com-botonera">
        <button mat-raised-button fxShow="{{mostrarBotonAsignarCliente}}" (click)="openDialogCliente()" disabled="{{(itemsCarritoCompra.length == 0)}}" color="primary">
          <mat-icon>account_circle</mat-icon>
          <span fxHide.lt-md>Asignar Cliente</span>
        </button>
        <button mat-raised-button (click)="vaciarPedido()" disabled="{{(itemsCarritoCompra.length == 0)}}">
          <mat-icon>remove_shopping_cart</mat-icon>
          <span fxHide.lt-md>Limpiar Listado</span>
        </button>
        <button mat-raised-button (click)="openDialogCheckout()" disabled="{{(clienteSeleccionado.length == 0) || (itemsCarritoCompra.length == 0)}}" color="primary">
          <mat-icon>local_shipping</mat-icon>
          <span fxHide.lt-md>Cerrar Orden</span>
        </button>
      </div>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let icc of itemsCarritoCompra" class="sic-com-renglones-items">
        <div matLine fxLayout.lt-md="column">
          <div fxLayout fxFlex.gt-md="60">
              <div fxFlex="30" fxLayoutAlign="center center">
                <img class="sic-com-img-avatar" src="../../assets/no-image.png" />
              </div>
              <div fxFlex="70" fxLayoutAlign="center start" fxLayout="column" [routerLink]="['/producto/' + icc.producto.id_Producto]">
                <span class="sic-com-descripcion-producto">{{icc.producto.descripcion}}</span>
                <strong>{{icc.producto.precioLista | sicComCurrency }}</strong>
              </div>
          </div>
          <div fxLayout fxFlex.gt-md="40">
            <div fxFlex="40" fxLayoutAlign="center center">
              <mat-form-field class="sic-com-input-cantidad">
                <input matInput #cantCart type="number" placeholder="Cantidad"
                        value="{{icc.cantidad}}" min="{{icc.producto.ventaMinima}}"
                        (keyup.enter)="editCantidadProducto(icc, cantCart.value, 2)">
              </mat-form-field>
            </div>
            <div fxFlex="40" fxLayoutAlign="center center">
              <strong>{{cantCart.value * icc.producto.precioLista | sicComCurrency}}</strong>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
              <button mat-icon-button (click)="eliminarItemDelCarrito(icc)" matTooltip="Quitar del listado">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-list-item>  
    </mat-list>
  </div>
  <div fxLayoutAlign="center center" class="sic-com-mas-resultados" (click)="masProductosPedido()"
       *ngIf="(itemsCarritoCompra.length > 0) && (totalPaginas > (pagina + 1)) && !loadingRenglones">
    <strong>MAS RESULTADOS</strong>
  </div>
  <div class="sic-com-mas-resultados" fxLayoutAlign="center center" *ngIf="loadingRenglones">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
