<div fxLayout="column" class="sic-com-carrito-compra">
  <div *ngIf="!(loadingCarritoCompra || loadingTotales)" class="carrito-header-and-body">
    <div fxLayout="column">
      <div fxLayoutAlign="start center" class="sic-com-ir-listado" (click)="volver()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <strong>Volver</strong>
      </div>
      <div fxLayoutAlign="space-around center" class="sic-com-totalizadores" fxLayout.lt-sm="column" *ngIf="!(loadingCarritoCompra || loadingTotales)">
        <div>Cant. de Artículos: {{cantidadArticulos | number:'1.0-2':'es-AR' }}</div>
        <div class="sic-com-compra-minima" *ngIf="cliente.montoCompraMinima > 0">
          Compra mínima: $ {{ cliente.montoCompraMinima | number:'1.0-2':'es-AR' }}
        </div>
        <div class="total" [class.cumple-compra-minima]="total >= cliente.montoCompraMinima">Total: $ {{total | number:'1.0-2':'es-AR' }}</div>
      </div>
      <div class="sic-com-botonera" fxLayout.lt-sm="column-reverse" fxLayout="row" fxLayoutAlign.lt-sm="none none" fxLayoutAlign="space-around center" fxLayoutGap=".7rem">
        <button mat-raised-button (click)="vaciarCarritoCompra()" [disabled]="!itemsCarritoCompra.length || disabledButtons()">
          <mat-icon>remove_shopping_cart</mat-icon> Limpiar Listado
        </button>
        <button mat-raised-button (click)="goToCheckout()" [disabled]="!itemsCarritoCompra.length || disabledButtons() || total < cliente.montoCompraMinima" color="primary">
          <mat-icon>local_shipping</mat-icon> Cerrar Orden
        </button>
      </div>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let icc of itemsCarritoCompra" class="sic-com-renglones-items">
        <div matLine fxLayout="row" fxLayout.lt-sm="column">
          <div fxLayout fxFlex="60">
            <div fxFlex="30" fxLayoutAlign="center center">
              <img mat-list-avatar class="sic-com-img-avatar" [src]="icc.producto.urlImagen" alt="">
            </div>
            <div class="sic-com-producto-info" fxFlex="70" fxLayoutAlign="center start" fxLayout="column" [routerLink]="['/producto/' + icc.producto.idProducto]">
              <div>
                <span class="sic-com-codigo-producto">{{icc.producto.codigo}}</span>
                <mat-chip-list *ngIf="icc.producto.oferta" class="sic-com-oferta">
                  <mat-chip class="sic-com-stock">OFERTA</mat-chip>
                </mat-chip-list>
              </div>
              <div class="oferta-cantidad" *ngIf="icc.producto.oferta">
                <span *ngIf="icc.producto.bulto > 1">Llevando {{icc.producto.bulto | number:'1.0-2':'es-AR'}} o más</span>
                {{icc.producto.porcentajeBonificacionOferta | number:'1.0-2':'es-AR'}}% OFF!
              </div>
              <div class="sic-com-descripcion-producto">{{icc.producto.descripcion}}</div>
              <div class="precios">
                <div *ngIf="icc.producto.oferta">
                  <span [class.seleccionado]="!estaBonificado(icc)" [class.tachado]="!(icc.producto.bulto > 1)">
                    P. U. $ {{ icc.producto.precioLista | number:'1.0-2':'es-AR'}}
                  </span><br>
                  <span [class.seleccionado]="estaBonificado(icc)">
                    P. U. Oferta $ {{ icc.producto.precioBonificado | number:'1.0-2':'es-AR'}}
                  </span>
                </div>
                <div *ngIf="!icc.producto.oferta">
                  <span *ngIf="!estaBonificado(icc) || icc.producto.bulto > 1" [class.seleccionado]="!estaBonificado(icc)">
                    P. U. $ {{ icc.producto.precioLista | number:'1.0-2':'es-AR'}}<br>
                  </span>
                  <span [class.seleccionado]="estaBonificado(icc)" *ngIf="icc.producto.precioLista > icc.producto.precioBonificado">
                    P. U. Bonif. <span *ngIf="icc.producto.bulto > 1"> x Cant.</span>$ {{ icc.producto.precioBonificado | number:'1.0-2':'es-AR'}}
                  </span>
                </div>
                <div *ngIf="!icc.producto.oferta && (icc.producto.precioLista > icc.producto.precioBonificado) && icc.producto.bulto > 1">
                  <span [class.seleccionado]="estaBonificado(icc)">Llevando {{icc.producto.bulto | number:'1.0-2':'es-AR'}} o más</span>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout fxFlex="40">
            <div fxFlex="40" fxLayoutAlign="center center">
              <button mat-raised-button (click)="showDialogCantidad($event, icc.producto)" color="primary" [disabled]="disabledButtons()">Cantidad {{icc.cantidad | number:'1.0-2':'es-AR' }}</button>
            </div>
            <div fxFlex="40" fxLayoutAlign="center center">
              <strong>$ {{(icc.importeBonificado > 0 ? icc.importeBonificado : icc.importe) | number:'1.0-2':'es-AR'}}</strong>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
              <button mat-icon-button (click)="eliminarItemDelCarrito(icc)" matTooltip="Quitar del listado" [disabled]="disabledButtons()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="sic-com-paginator" *ngIf="!loadingCarritoCompra && !loadingRenglones && !loadingTotales && (itemsCarritoCompra.length > 0)" fxLayout="row" fxLayoutAlign="center center">
    <button mat-button color="primary" [disabled]="pagina <= 0" (click)="paginaAnterior()">
      <mat-icon aria-label="Página anterior">navigate_before</mat-icon><span>Anterior</span>
    </button>
    <span class="page">{{ this.pagina + 1 }}/{{ totalPaginas }}</span>
    <button mat-button color="primary" [disabled]="pagina + 1 >= totalPaginas" (click)="paginaSiguiente()">
      <span>Siguiente</span><mat-icon aria-label="Página siguiente">navigate_next</mat-icon>
    </button>
  </div>
  <div class="sic-com-spinner-container" fxLayoutAlign="center center" *ngIf="loadingCarritoCompra || loadingRenglones || loadingTotales">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
