<div fxLayout="column" class="sic-com-carrito-compra">
  <div *ngIf="loadingCarritoCompra" fxLayoutAlign="center center" class="sic-com-mas-resultados">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
  <div *ngIf="!loadingCarritoCompra">
    <div fxLayout="column">
      <div fxLayoutAlign="start center" class="sic-com-ir-listado" (click)="irAlListado()">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <strong>Ir al listado</strong>
      </div>
      <div fxLayoutAlign="space-around center" class="sic-com-totalizadores" fxLayout.lt-sm="column" *ngIf="!(loadingCarritoCompra || loadingTotales)">
        <div>Cant. Articulos: {{cantidadArticulos | number:'1.0-2':'es-AR' }}</div>
        <div>
          Subtotal: <span class="subtotal" [class.bonificado]="subTotal != total">$ {{subTotal | number:'1.2-2':'es-AR' }}</span>&nbsp;&nbsp;
          <span *ngIf="subTotal != total">$ {{total | number:'1.2-2':'es-AR' }}</span>
        </div>
      </div>
      <div fxLayoutAlign="space-around center" class="sic-com-botonera">
        <button mat-raised-button (click)="vaciarCarritoCompra()" [disabled]="!itemsCarritoCompra.length || disabledButtons()">
          <mat-icon>remove_shopping_cart</mat-icon>
          <span fxHide.lt-md>Limpiar Listado</span>
        </button>
        <button mat-raised-button (click)="goToCheckout()" [disabled]="!itemsCarritoCompra.length || disabledButtons()" color="primary">
          <mat-icon>local_shipping</mat-icon>
          <span fxHide.lt-md>Cerrar Orden</span>
        </button>
      </div>
    </div>
    <mat-list>
      <mat-list-item *ngFor="let icc of itemsCarritoCompra" class="sic-com-renglones-items">
        <div matLine fxLayout="row" fxLayout.lt-sm="column">
          <div fxLayout fxFlex="60">
              <div fxFlex="30" fxLayoutAlign="center center">
                <img mat-list-avatar class="sic-com-img-avatar" [src]=icc.producto.urlImagen>
              </div>
              <div fxFlex="70" fxLayoutAlign="center start" fxLayout="column" [routerLink]="['/producto/' + icc.producto.idProducto]">
                <div class="sic-com-descripcion-producto">{{icc.producto.descripcion}}</div>
                <div>
                  <strong class="precio-item" [class.bonificado]="cliente && cliente.bonificacion > 0">
                    $ {{icc.producto.precioLista | number:'1.2-2':'es-AR'}}
                  </strong>&nbsp;
                  <strong *ngIf="cliente && cliente.bonificacion > 0">
                    $ {{icc.producto.precioBonificado | number:'1.2-2':'es-AR'}}
                  </strong>
                </div>
              </div>
          </div>
          <div fxLayout fxFlex="40">
            <div fxFlex="40" fxLayoutAlign="center center">
              <button mat-raised-button (click)="editCantidadProducto(icc)" color="primary" [disabled]="disabledButtons()">Cantidad {{icc.cantidad | number:'1.0-2':'es-AR' }}</button>
            </div>
            <div fxFlex="40" fxLayoutAlign="center center">
              <strong *ngIf="!(cliente && cliente.bonificacion > 0)">$ {{icc.importe | number:'1.2-2':'es-AR'}}</strong>
              <strong *ngIf="cliente && cliente.bonificacion > 0">$ {{icc.importeBonificado | number:'1.2-2':'es-AR'}}</strong>
            </div>
            <div fxFlex="20" fxLayoutAlign="center center">
              <button mat-icon-button (click)="eliminarItemDelCarrito(icc)" matTooltip="Quitar del listado" [disabled]="disabledButtons()">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxLayoutAlign="center center" class="sic-com-mas-resultados" (click)="masItemsCarritoCompra()"
       *ngIf="(itemsCarritoCompra.length > 0) && (totalPaginas > (pagina + 1)) && !(loadingRenglones || loadingTotales || loadingTotales)">
    <strong>MAS RESULTADOS</strong>
  </div>
  <div class="sic-com-mas-resultados" fxLayoutAlign="center center" *ngIf="loadingCarritoCompra || loadingRenglones || loadingTotales">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
