<div class="sic-com-home">
  <slideshow
    [hideOnNoSlides]="true"
    [imageUrls]="imageUrls"
    [backgroundSize]="'cover'"
    [height]="height"
    [autoPlay]="true"
    [showArrows]="false"
    [showDots]="false"
    [showCaptions]="false"
    [stopAutoPlayOnSlide]="false">
  </slideshow>
  <a href="https://www.mercadopago.com.ar/cuotas" target="_blank" class="bannerMP" fxLayoutAlign="center center">
    <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/online/785X40.jpg" title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" *ngIf="!isMobile"/>
    <img src="https://imgmp.mlstatic.com/org-img/banners/ar/medios/online/468X60.jpg" title="MercadoPago - Medios de pago" alt="MercadoPago - Medios de pago" *ngIf="isMobile"/>
  </a>
  <sic-com-productos-destacados></sic-com-productos-destacados>
  <h3 class="label">Globo Envíos</h3>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5rem" class="info">
    <div>
      <img src="https://res.cloudinary.com/hf0vu1bg2/image/upload/v1545110884/assets/truck_envio.png" alt="Envio gratis">
    </div>
    <div>
      Aprovecha nuestro envio gratis a estas localidades en compras mayores a $1000!
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=".5rem" class="info">
    <div>
      <img src="https://res.cloudinary.com/hf0vu1bg2/image/upload/v1545358178/assets/shopping_cart.png" alt="Retiro en sucursal">
    </div>
    <div>
      Retira sin cargo tu pedido en nuestras direcciones!
    </div>
  </div>
  <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1VOhcfOoN-NZWuCBltvk2Po9x9t7xySRm"></iframe>
  <h3 class="label">Algunas de nuestras marcas</h3>
  <ul class="marcas">
    <li class="marca" *ngFor="let m of marcas">
      <a [routerLink]="m.routeLink">
        <img [src]="m.url" [alt]="m.nombre">
      </a>
    </li>
  </ul>
</div>
