<div class="sic-com-home">
  <slideshow
    [hideOnNoSlides]="true"
    [imageUrls]="imageUrls"
    [backgroundSize]="'cover'"
    [height]="height"
    [autoPlay]="true"
    [autoPlayInterval]="8000"
    [showArrows]="false"
    [showDots]="true"
    [dotColor]="'#000'"
    [showCaptions]="false"
    [stopAutoPlayOnSlide]="false">
  </slideshow>
  <sic-com-rubros-en-home></sic-com-rubros-en-home>
  <sic-com-productos-en-oferta></sic-com-productos-en-oferta>
  <div class="bg-gray">
    <h3 class="label">Algunas de nuestras marcas</h3>
    <ul class="marcas">
      <li class="marca" *ngFor="let m of marcas">
        <a [routerLink]="m.routeLink" [queryParams]="m.queryParams">
          <img [src]="m.url" [alt]="m.nombre">
        </a>
      </li>
    </ul>
  </div>
</div>
