@import "../../../_colors.scss";
.sic-com-home {

  .bannerMP {
    display: inline-block;
    img {
      max-width: 100%;
      height: auto;
      display: inline-block;
    }
  }

  .map {
    border: none;
    height: 400px;
    width: 100%;
  }

  .label {
    background: $color-primary;
    margin-bottom: 0;
    margin-top: 0;
    padding: .2rem .5rem;
  }

  .info {
    padding: 5px 10px;
    img {
      display: inline-block;
      height: 40px;
      width: auto;
    }
  }

  .listado-icon {
    font-size: 3rem;
  }
  ul.listado {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-style: italic;
  }
  .box-corrientes {
    margin: 0.5rem 0 1rem 0;
    font-size: 1.2rem;
  }

  ul.marcas {
    margin-top: 0;
    padding: 0;
    text-align: center;
    li.marca {
      background-color: white;
      width: 150px;
      height: 150px;
      vertical-align: middle;
      display: inline-block;
      margin: 0.25rem 0.25rem;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 2px 4px 1px rgba(122, 122, 122, 0.8);
      -moz-box-shadow: 0 2px 4px 1px rgba(122, 122, 122, 0.8);
      box-shadow: 0 2px 4px 1px rgba(122, 122, 122, 0.8);
      a {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 95%;
          height: auto;
        }
      }
    }
  }
}

