<a (click)="irAlProducto($event, producto)" class="producto">
  <mat-card>
    <div class="img-container" fxLayout="column" fxLayoutAlign="center center">
      <img [src]="producto.urlImagen ? producto.urlImagen : 'assets/images/sin_imagen.png'" alt="Foto del producto">
    </div>
    <div class="info" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxFlex="55">
        <div class="encabezado" [class.fix-padding-top]="!authService.isAuthenticated()">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <span class="off" *ngIf="producto.oferta && producto.porcentajeBonificacionOferta">{{ producto.porcentajeBonificacionOferta | number:'2.0-0' }}% OFF!</span>
            </div>
            <div>
              <sic-com-favorito-button [producto]="producto"></sic-com-favorito-button>
              <button class="add-to-cart" mat-icon-button color="warn" (click)="showDialogCantidad($event, producto)" *ngIf="authService.isAuthenticated() && cliente">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <p>{{ producto.descripcion }}</p>
      </div>
      <div fxFlex="45">
        <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap=".5rem">
          <span class="precio">
            $ {{ ( producto.cantMinima > 1 ? producto.precioLista : producto.precioBonificado) | number:'1.0-2':'es-AR'}}
          </span>
            <span class="precio tachado" *ngIf="producto.cantMinima === 1 && ((producto.oferta && producto.porcentajeBonificacionOferta) || producto.porcentajeBonificacionPrecio)">
            $ {{ producto.precioLista | number:'1.0-2':'es-AR'}}
          </span>
          </div>
          <div *ngIf="(producto.oferta && producto.porcentajeBonificacionOferta) || producto.porcentajeBonificacionPrecio">
            <span class="bonificado">
              <span *ngIf="producto.cantMinima > 1"><span class="nowrap">$ {{ producto.precioBonificado | number:'1.0-2':'es-AR' }}</span> (llevando {{ producto.cantMinima }} o más)</span>
            </span>
          </div>
        </div>
      </div>
    </mat-card>
</a>

