<div fxLayout="column" class="sic-com-productos">
  <div class="sic-com-sin-resultados" *ngIf="!loadingProducts && (productos.length === 0)">
    <span fxLayoutAlign="center center">
      <mat-icon color="primary">sentiment_neutral</mat-icon>
      &nbsp;Sin Resultados
    </span>
  </div>
  <mat-nav-list class="sic-com-listado" disableRipple="true">
    <div *ngFor="let p of productos">
      <mat-list-item [routerLink]="['/producto/' + p.idProducto]">
        <img mat-list-avatar class="sic-com-avatar" [src]=p.urlImagen>
        <p mat-line class="sic-com-codigo">{{p.codigo}}</p>
        <p mat-line class="sic-com-descripcion"><strong>{{p.descripcion}}</strong></p>
        <p mat-line>
          <span class="sic-com-precio-lista" [class.bonificado]="estaBonificado(p)">$ {{p.precioLista | number:'1.2-2':'es-AR' }}</span>
          <span class="sic-com-precio-bonificado" *ngIf="estaBonificado(p)">&nbsp;&nbsp;$ {{ p.precioBonificado | number:'1.2-2':'es-AR' }}</span>
        </p>
        <button mat-icon-button color="warn" (click)="showDialogCantidad($event, p)" *ngIf="authService.isAuthenticated() && cliente">
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-nav-list>
  <div class="sic-com-paginator" *ngIf="!loadingProducts && (productos.length > 0)" fxLayout="row" fxLayoutAlign="center center">
    <button mat-button color="primary" [disabled]="pagina <= 0" (click)="paginaAnterior()">
      <mat-icon aria-label="Página anterior">navigate_before</mat-icon><span>Anterior</span>
    </button>
    <span class="page">{{ this.pagina + 1 }}/{{ totalPaginas }}</span>
    <button mat-button color="primary" [disabled]="pagina + 1 >= totalPaginas" (click)="paginaSiguiente()">
      <span>Siguiente</span><mat-icon aria-label="Página siguiente">navigate_next</mat-icon>
    </button>
  </div>
  <div class="sic-com-mas-resultados" fxLayoutAlign="center center" *ngIf="loadingProducts">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
