<div fxLayout="column" class="sic-com-productos">
  <div fxLayoutAlign="center center" *ngIf="loadingProducts && (productos.length === 0)">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
  <div class="sic-com-sin-resultados" *ngIf="!loadingProducts && (productos.length === 0)">
    <span fxLayoutAlign="center center">
      <mat-icon color="primary">sentiment_neutral</mat-icon>
      &nbsp;Sin Resultados
    </span>
  </div>
  <mat-nav-list class="sic-com-listado">
    <div *ngFor="let p of productos">
      <mat-list-item [routerLink]="['/producto/' + p.id_Producto]">
        <img mat-list-avatar class="sic-com-avatar" src="../../assets/no-image.png">
        <p mat-line class="sic-com-codigo">{{p.codigo}}</p>
        <p mat-line class="sic-com-descripcion"><strong>{{p.descripcion}}</strong></p>
        <p mat-line><strong>$ {{p.precioLista | number:'1.2-2':'es-AR' }}</strong></p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-nav-list>
  <div class="sic-com-mas-resultados" fxLayoutAlign="center center" (click)="masProductos()"
       *ngIf="(productos.length > 0) && (totalPaginas > (pagina + 1))">
    <span *ngIf="(productos.length > 0) && (totalPaginas > (pagina + 1)) && !loadingProducts">
      <strong>MAS RESULTADOS</strong>
    </span>
    <mat-spinner [diameter]="50" [strokeWidth]="6" *ngIf="loadingProducts && (productos.length > 0)"></mat-spinner>
  </div>
</div>
