<div fxLayout="column" class="sic-com-productos">
  <div class="sic-com-sin-resultados" *ngIf="!loadingProducts && (productos.length === 0)">
    <span fxLayoutAlign="center center">
      <mat-icon color="primary">sentiment_neutral</mat-icon>
      &nbsp;Sin Resultados
    </span>
  </div>
  <div fxLayout="column" fxLayout.gt-sm="row">
    <sic-com-rubros-main-menu></sic-com-rubros-main-menu>
    <div fxFlex fxFill>
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="sic-com-listado">
        <sic-com-producto-card [producto]="p" [cliente]="cliente" *ngFor="let p of productos" ngClass.lt-sm="mobile"></sic-com-producto-card>
      </div>
      <div class="sic-com-paginator" *ngIf="!loadingProducts && (productos.length > 0)" fxLayout="row" fxLayoutAlign="center center">
        <button mat-button color="primary" [disabled]="pagina <= 0" (click)="paginaAnterior()">
          <mat-icon aria-label="Página anterior">navigate_before</mat-icon><span>Anterior</span>
        </button>
        <span class="page">{{ this.pagina + 1 }}/{{ totalPaginas }}</span>
        <button mat-button color="primary" [disabled]="pagina + 1 >= totalPaginas" (click)="paginaSiguiente()">
          <span>Siguiente</span><mat-icon aria-label="Página siguiente">navigate_next</mat-icon>
        </button>
      </div>
      <div class="sic-com-mas-resultados" fxLayoutAlign="center center" *ngIf="loadingProducts">
        <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
      </div>
    </div>
  </div>
</div>
