@import "../../../_colors.scss";

.sic-com-productos {
  height: 100%;
  .sic-com-filtro {
    padding: 20px 0 0 25px;
    color: gray;
  }

  .sic-com-sin-resultados {
    span {
      height: 100px;
      color: $color-primary;
      font-size: 30px;

      mat-icon {
        font-size: 30px;
      }
    }
  }

  .sic-com-listado {
    padding-top: 0;
    background: whitesmoke;
  }

  .sic-com-oferta {
    display: inline-block;
    mat-chip {
      min-height: 22px;
      font-size: 0.85rem;
      background: limegreen;
      color: white;
    }
  }

  .precio {
    font-weight: bold;
  }

  .tachado {
    text-decoration: line-through;
  }

  .oferta-cantidad {
    color: limegreen;
    font-weight: bold;
    font-size: 0.85em;
  }

  .sic-com-avatar {
    width: 80px;
    height: 60px;
    border-radius: 0;
    object-fit: contain;
  }

  .sic-com-codigo {
    font-size: 12px;
  }

  .sic-com-descripcion {
    white-space: normal;
    font-size: 15px;
    color: $color-primary;
  }

  .sic-com-mas-resultados {
    height: 90px;
    color: $color-primary;
  }

  .sic-com-paginator {
    padding: .7rem;
    .page {
      padding: .5rem .9rem;
      margin: 0 .3rem;
      background: #DFDFDF;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }

  .sic-com-precio-lista {
    font-weight: bold;
    &.no-bonificado {
      font-weight: normal;
      //text-decoration: line-through;
    }
  }
  .sic-com-precio-bonificado {
    font-weight: bold;
  }

  .mat-list-base .mat-list-item.mat-3-line, .mat-list-base .mat-list-option.mat-3-line {
    height: auto;
    min-height: 3rem;
    padding: .3rem 0;
  }
  .mat-list-base .mat-list-item .mat-line {
      white-space: normal;
  }
}
