<div class="sic-com-checkout-status" ngClass.gt-sm="desktop">
  <div *ngIf="loading" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
  <div *ngIf="!loading && usuario" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center">
      <span class="icono-container">
        <mat-icon *ngIf="status === 'aprobado'" class="icono" aria-hidden="false" aria-label="Compra realizada">local_shipping</mat-icon>
        <mat-icon *ngIf="status === 'pendiente'" class="icono" aria-hidden="false" aria-label="Compra pendiente">schedule</mat-icon>
      </span>
    </div>
    <div class="info" fxLayout="column" fxLayoutAlign="center center">
      <p class="gracias">
        Gracias <span class="nombre">{{ usuario.nombre }} {{ usuario.apellido}}</span> por su compra!
      </p>
      <p class="correo">
        En breve le enviaremos un correo electrónico a la dirección {{ usuario.email }} con los datos de su pedido.
      </p>
      <p *ngIf="status === 'pendiente'" class="pendiente">
        Su pedido se encuentra pendiente hasta que sea abonado.<br>
        Comuniquese con nosotros ante cualquier duda.
      </p>
      <button fxFlexAlign="stretch" class="bg-color-FFDA41" mat-flat-button [routerLink]="''">Ir al Inicio</button>
    </div>
  </div>
</div>
