@import "../../../_colors.scss";

.sic-com-checkout-status {
  padding: 1.5rem 1rem;
  height: 100%;
  .icono {
    font-size: 4rem;
    color: $color-primary;
    width: auto;
    height: auto;
  }
  .info {
    padding: 0.7rem 0.5rem;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    .nombre {
      font-style: italic;
      font-weight: bold;
    }
  }
}
