@use '../../../colors' as colors;

.sic-com-checkout-status {
  padding: 4rem 1rem 1.5rem 1rem;
  height: 100%;

  .icono-container {
    background-color: colors.$color-30CC81;
    border-radius: 50%;
    display: flex;
    padding: 0.8rem 0.9rem;
    margin-bottom: 1.5rem;

    .icono {
      font-size: 1.7rem;
      color: white;
      width: auto;
      height: auto;
    }
  }

  .info {
    padding: 0.7rem 0.5rem;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    max-width: 27rem;

    p {
      margin: 0 0 1.5rem 0;
    }

    .nombre {
      font-style: italic;
      font-weight: 500;
    }

    .correo {
      font-weight: 500;
    }
  }

  &.desktop {
    .info {
      font-size: 1.3rem;

      p {
        margin: 0 0 1.8rem 0;
      }
    }

    .icono-container {
      padding: 1.2rem 1.3rem;

      .icono {
        font-size: 2.6rem;
      }
    }
  }
}