@import "../../../_colors.scss";

.sic-com-pedidos {
  .pedido-row {
    font-size: 0.85rem;
    padding: .5em .2rem;
    &.gt-xs {
      font-size: unset;
      padding: .5em;
    }
    &:first-child {
      border-top: 1px solid grey;
    }
    border-bottom: 1px solid grey;

    &:hover {
      background: darken(white, 7.5);
    }
    .estado {
      text-align: left;
    }
    .nro-pedido {
      text-align: left;
      white-space: nowrap;
    }
    .fecha {
      text-align: center;
    }
    .total {
      text-align: right;
    }
  }

  .sic-com-sin-cliente {
    span {
      height: 100px;
      color: $color-primary;
      font-size: 18px;
    }
  }

  .mat-chip-list {
    padding: .2em 0.1em;
  }

  .abierto {
    color: #333;
  }

  .cancelado {
    color: red;
  }
  .cerrado {
    color: limegreen;
  }

  .mas-resultados {
    cursor: pointer;
    height: 60px;
    color: $color-primary;
  }
}
