.sic-com-pedidos {
    .pedido-row {
        height: auto;
        vertical-align: middle;
        .mat-line {
          white-space: normal;
        }
        .pedido-row-content {
            padding: .5em;
            .pedido-column-content {
                text-align: center;
                mat-chip-list {
                    display: inline-block;
                }
            }
        }
    }

  .sic-com-sin-cliente {
    span {
      height: 100px;
      color: #ff5722;
      font-size: 18px;
    }
  }

    .mat-chip-list {
        padding: .2em 0.1em;
    }

    .abierto {
        color: lime;
    }

    .activo {
        color: blue;
    }
    .cerrado {
        color: red;
    }

    .mas-resultados {
        cursor: pointer;
        height: 60px;
        color: #ff5722;
    }
}
