<div class="sic-com-pedidos">
  <div *ngIf="!isLoading">
    <div class="sic-com-sin-cliente" *ngIf="!cliente">
        <span fxLayoutAlign="center center">
          <mat-icon color="primary">sentiment_neutral</mat-icon>
          No posee una cuenta de cliente para realizar pedidos
        </span>
    </div>
    <div class="sic-com-sin-cliente" *ngIf="!loading && cliente && !pedidos.length">
      <span fxLayoutAlign="center center">
          <mat-icon color="primary">sentiment_neutral</mat-icon>
          No posee pedidos realizados
      </span>
    </div>
    <div *ngFor="let pedido of pedidos">
      <div fxLayoutAlign="space-between center" class="pedido-row">
        <div fxFlex="45" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="start center">
          <div fxFlex class="estado">
              <span [ngClass]="pedido.estado.toLowerCase()">
                  {{ pedido.estado | titlecase }}
              </span>
          </div>
          <div fxFlex class="nro-pedido">
            Nº {{ pedido.nroPedido }}
          </div>
        </div>
        <div fxFlex="45" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="center center">
          <div fxFlex class="fecha">
            <span>{{ pedido.fecha | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div fxFlex class="total">
            <strong>$ {{ pedido.total | number:'1.0-2':'es-AR' }}</strong>
          </div>
        </div>
        <div fxFlex fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="end center">
          <button mat-icon-button class="bg-color-FFDA41" aria-label="Descargar" (click)="downloadPedidoPdf(pedido)">
            <mat-icon>get_app</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="mas-resultados" fxLayoutAlign="center center" (click)="masPedidos()"
         *ngIf="!loading && (pedidos.length > 0) && (totalPaginas > (pagina + 1))">
      <strong>MAS RESULTADOS</strong>
    </div>
  </div>
  <div *ngIf="isLoading || loading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
