@use '../../../colors' as colors;

.sic-com-pedidos {
  font-size: 1.1rem;
  font-weight: 500;
  color: colors.$color-536070;

  .pedido-row {
    padding: .65rem 0;
    .estado {
      text-align: left;
    }
    .nro-pedido {
      text-align: left;
      white-space: nowrap;
    }
    .fecha {
      text-align: center;
    }
    .total {
      text-align: right;
    }
  }

  .sic-com-sin-cliente {
    span {
      height: 100px;
      color: colors.$color-primary;
      font-size: 18px;
    }
  }

  .mat-chip-list {
    padding: .2em 0.1em;
  }

  .abierto {
    color: colors.$color-536070;
  }

  .cancelado {
    color: colors.$color-EB5757;
  }
  .cerrado {
    color: colors.$color-30CC81;
  }

  .mas-resultados {
    cursor: pointer;
    height: 60px;
    color: colors.$color-primary;
  }
}
