@import "../../../_colors.scss";

.sic-com-container {
  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: $color-FFDA41;
  }
  .sic-com-content {
    min-height: 100%;
    margin-top: 56px;
    &.tablet {
      margin-top: 64px;
    }
    &.desktop {
      margin-top: 90px;
    }
  }
  padding-bottom: 1rem;
}
