@import "../../../_colors.scss";

.sic-com-container {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .sic-com-content {
    background: whitesmoke;
    margin-top: 56px;
    &.desktop {
      margin-top: 64px;
    }
  }

  .sic-com-contenido-central-container {
    background: whitesmoke;
    height: 100%;
    margin: 0 auto;
    @media all and (min-width: 960px){
      width: 80%;
    }
  }

  .sic-com-contenido-central {
    box-shadow: 0px 4px 5px 6px #aaaaaa;
    -webkit-box-shadow: 0px 4px 5px 6px #aaaaaa;
    -moz-box-shadow: 0px 4px 5px 6px #aaaaaa;
    background: whitesmoke;
  }

  footer {
    padding-top: .7rem;
    background: whitesmoke;
    box-shadow: 0px 14px 5px 6px #aaaaaa;
    -webkit-box-shadow: 0px 14px 5px 6px #aaaaaa;
    -moz-box-shadow: 0px 14px 5px 6px #aaaaaa;
    img.facebook {
      width: 30px;
      height: auto;
    }
    .centrado {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
}
