<div class="sic-com-container" fxLayout="column" fxFlexFill>
  <sic-com-navbar class="navbar"></sic-com-navbar>
  <div class="sic-com-content" ngClass.gt-xs="tablet" ngClass.gt-sm="desktop" fxFlex>
    <div class="sic-com-contenido-central-container" ngClass.gt-lg="width80porciento">
      <div fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex>
        <div fxFlex class="sic-com-contenido-central"><router-outlet></router-outlet></div>
        <div flex="noshrink">
          <sic-com-footer></sic-com-footer>
        </div>
      </div>
    </div>
  </div>
</div>
