@import "../../../_colors.scss";

.sic-com-container {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .sic-com-content {
    background: whitesmoke;
    margin-top: 56px;
    &.tablet {
      margin-top: 64px;
    }
    &.desktop {
      margin-top: 100px;
    }
  }

  .sic-com-contenido-central-container {
    background: whitesmoke;
    min-height: 100%;
    margin: 0 auto;
    @media all and (min-width: 960px){
      width: 80%;
    }
  }

  .sic-com-contenido-central {
    box-shadow: 0 4px 5px 6px #aaaaaa;
    -webkit-box-shadow: 0 4px 5px 6px #aaaaaa;
    -moz-box-shadow: 0 4px 5px 6px #aaaaaa;
    background: white;
  }
}
