:host {
  height: 100%;
  display: flex;
}

.sic-com-login {

  .sic-com-form {
    background: white;
    padding: 40px 50px;
    box-shadow: 0 0 20px 8px #aaaaaa;
  }

  img {
    width: 120px;
  }

  .sic-com-full-width {
    width: 100%;
  }

  .sic-com-submit {
    height: 40px;
  }
}
