.sic-com-login {

  height: 100%;
  text-align: center;
  background-color: white;

  img {
    width: 170px;
  }

  a {
    text-decoration: none;
    font-size: 0.9em;
  }

  form {
    width: 90%;
    max-width: 300px;
  }
}
