<div class="sic-com-login login-template placement" ngClass.gt-xs="tablet" ngClass.gt-md="desktop">
  <a routerLink="/" fxLayout="row" fxLayoutAlign="start center" class="back-button">
    <mat-icon>keyboard_arrow_left</mat-icon>
    <span>Ir al Inicio</span>
  </a>
  <div fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="sic-com-form">
      <img src="assets/images/logo-globo-500x500px.png" alt="logo">
      <div fxLayout="column">
        <mat-form-field fxFlex fxFill appearance="fill">
          <mat-label>Email o Usuario</mat-label>
          <input matInput autofocus name="username" required type="text" formControlName="username">
          <mat-error *ngIf="loginForm.get('username').hasError('required')">
            Requerido
          </mat-error>
          <mat-error *ngIf="loginForm.get('username').hasError('maxlength')">
            Máximo {{ loginForm.get('username').getError('maxlength').requiredLength }} caracteres
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex fxFill appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput name="password" required type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Requerido
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
            Mínimo {{ loginForm.get('password').getError('minlength').requiredLength }} caracteres
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('maxlength')">
            Máximo {{ loginForm.get('password').getError('maxlength').requiredLength }} caracteres
          </mat-error>
        </mat-form-field>
        <span>&nbsp;</span>
        <a routerLink="/password-recovery-request" *ngIf="!loading">Olvidé mi contraseña</a>
        <span>&nbsp;</span>
      </div>
      <div *ngIf="!loading" fxLayout="column" fxLayoutGap=".7em">
        <button fxFill mat-flat-button class="bg-color-FFDA41">Ingresar</button>
        <a fxFill mat-flat-button routerLink="/registracion">Registrarme</a>
      </div>
      <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
      </div>
    </form>
  </div>
</div>
