<div class="sic-com-checkout" fxLayout="column">
  <h2 mat-dialog-title>Cerrar Orden</h2>
  <mat-dialog-content>
    <p>Cliente: <strong>{{cliente.razonSocial}}</strong></p>
    <p>Cant. Articulos: <strong>{{cantArt}}</strong></p>
    <p>Total: <strong>{{total | sicComCurrency}}</strong></p>
  </mat-dialog-content>
  <mat-dialog-content>
      <mat-form-field fxFlex>
        <textarea matInput autofocus placeholder="Observaciones" [(ngModel)]="observaciones"></textarea>
      </mat-form-field>
  </mat-dialog-content>
  <button mat-raised-button color="primary" (click)="enviarPedido()" *ngIf="!loadingData">
    <mat-icon>done_all</mat-icon>
    Enviar Orden
  </button>
  <div fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" [strokeWidth]="6" *ngIf="loadingData"></mat-spinner>
  </div>
</div>
