<div class="sic-com-rubros-main-menu" *ngIf="!loading">
  <nav aria-labelledby="rubros-heading" fxHide fxShow.gt-sm>
    <h2 id="rubros-heading">Rubros</h2>
    <sic-com-rubros-list [rubros]="rubros" [selected]="selected"></sic-com-rubros-list>
  </nav>
  <div fxHide.gt-sm>
    <a class="trigger" [matMenuTriggerFor]="rubrosMenu" fxLayout="row" fxLayoutAlign="start center" (menuOpened)="isOpen = true" (menuClosed)="isOpen = false">
      <span class="selected">
        <span class="svg-container" *ngIf="selected && selected.imagenHtml" [innerHTML]="helper.getSafeHtml(selected && selected.imagenHtml ? selected.imagenHtml : '')"></span>
        <span class="name">{{ selected ? (selected.nombre | titlecase) : 'Todos' }}</span>
      </span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">{{ isOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
    </a>
    <mat-menu #rubrosMenu="matMenu">
      <button mat-menu-item [disabled]="!selected" (click)="clear()">Todos</button>
      <button mat-menu-item [disabled]="selected && selected.idRubro === r.idRubro" *ngFor="let r of rubros" (click)="goToProductos(r)">
          <span class="svg-container" *ngIf="r.imagenHtml" [innerHTML]="helper.getSafeHtml(r && r.imagenHtml ? r.imagenHtml : '')"></span>
          <span style="margin-left: 0.3em">{{ r.nombre | titlecase }}</span>
      </button>
    </mat-menu>
  </div>
</div>

