@use '../../../colors' as colors;
.sic-com-rubros-main-menu {
  h2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }
  .trigger {
    margin: .7rem .7rem .3rem .7rem;
    text-align: left;
    font-weight: normal;
    cursor: pointer;
    color: colors.$color-536070;
  }

  .name {
    margin-left: 0.2em;
  }
}
