<h3 class="label" *ngIf="enOferta.length">¡Ofertas!</h3>
<div class="sic-com-productos-en-oferta" *ngIf="enOferta.length">
  <div class="scroll-container">
    <sic-com-producto-card [producto]="p" [cliente]="cliente" *ngFor="let p of enOferta"></sic-com-producto-card>
    <div class="oferta" [class.first-loading]="!enOferta.length">
      <button mat-raised-button fxLayoutAlign="center center" *ngIf="!loading && pagina + 1< totalPaginas" (click)="paginaSiguiente()">
        <span></span><mat-icon aria-label="Página siguiente">more_horiz</mat-icon>
      </button>
      <div *ngIf="loading" fxLayoutAlign="center center" class="spinner">
        <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
      </div>
    </div>
  </div>
</div>
<div *ngIf="firstLoading" fxLayoutAlign="center center" class="spinner">
  <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
</div>
