<mat-dialog-content fxLayout="column">
  <mat-form-field fxFill>
    <mat-label>Ingrese el monto a depositar ($)</mat-label>
    <input matInput type="number" [(ngModel)]="monto" (keyup)="montoChange($event)">
  </mat-form-field>
</mat-dialog-content>
<div fxLayout="column" fxLayoutGap="0.7rem" fxLayoutAlign="center center">
  <button class="boton-pago" mat-raised-button color="primary" (click)="aceptar()" *ngIf="!loading" [disabled]="!monto || monto < montoMinimo">Aceptar</button>
  <button class="boton-pago" mat-raised-button mat-dialog-close *ngIf="!loading">Cancelar</button>
  <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
