@use '../../../colors' as colors;
.sic-com-rubros-list {
  padding: .5rem 0 0 0;
  margin: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        display: block;
        padding: .5rem 1rem;
      }
      color: colors.$color-536070;
      &.selected {
        color: colors.$color-1E222B;
        font-weight: bold;
      }
    }
    &.li-hover {
      li:hover {
        background: colors.$color-E0E0E0;
      }
    }
  }
  .svg-container {
    margin-right: 0.5em;
  }

  mat-icon {
    margin-right: 0.5em;
  }
}
