#slider {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  .slider-img-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
    img {
      width: 100%;
      margin: 0 0 -4px 0;
      padding: 0;
      display: inline-block;
      box-sizing: border-box;
    }
    &.tablet {
      border-radius: .5rem;
    }
    &.desktop {
      border-radius: .8rem;
    }
  }
}

