@use '../../../colors' as colors;

.sic-com-agregar-al-carrito {
  color: colors.$color-536070;

  .oferta {
    margin-bottom: 1.3rem;
    font-size: 0.86em;
    font-weight: 500;

    .oferta-label {
      font-weight: bold;
      padding: .4em 1em .5em 1em;
      background: colors.$color-30CC81;
      color: white;
      border-radius: 1.2em;
    }

    .oferta-descripcion {
      color: colors.$color-30CC81;
    }
  }

  .producto {
    margin-bottom: 1.3rem;

    .producto-descripcion {
      font-size: 1.3em;
      font-weight: 500;
    }
  }

  .precios {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 1.3rem;
    color: colors.$color-828282;

    .seleccionado {
      font-size: 1.3em;
      color: colors.$color-1E222B;
    }
  }

  .stock {
    margin-bottom: 1.3rem;
    font-size: 0.86em;
    font-weight: 500;

    &.no-disponible {
      color: colors.$color-EB5757;
    }

    &.disponible {
      color: colors.$color-30CC81;
    }
  }

  label[for="input-cantidad"] {
    font-weight: 500;
    font-size: 0.86em;
    margin-right: 0.7rem;
  }

  .input-cantidad {
    width: 9rem;
  }

  .cantidad-en-carrito {
    display: flex;
    align-items: flex-start;
    font-size: 0.9em;
    padding: 0%;
  }


}