.sic-com-cuenta-corriente {
  .monto {
    white-space: nowrap;
    color: green;
    font-weight: bold;
    &.negativo {
      color: red;
    }
  }

  .renglon-row {
    height: auto;
    vertical-align: middle;
    .mat-line {
      white-space: normal;
    }
    .renglon-row-content {
      padding: .5em;
      .pedido-column-content {
        text-align: center;
        font-size: 0.86em;
        @media screen and (min-width: 600px) {
          font-size: 1em;
        }
        &.fecha {
          text-align: left;
          @media screen and (min-width: 600px) {
            text-align: center;
          }
        }
        &.monto {
          text-align: right;
          @media screen and (min-width: 600px) {
            text-align: center;
          }
        }
      }
    }
  }

  .mas-resultados {
    cursor: pointer;
    height: 60px;
    color: #ff5722;
  }

  .sic-com-sin-cliente {
    span {
      height: 100px;
      color: #ff5722;
      font-size: 18px;
    }
  }
}
