@use '../../../colors' as colors;

.sic-com-cuenta-corriente {
  font-size: 1.1rem;
  font-weight: 500;
  color: colors.$color-536070;

  .saldo {
    margin: 1rem 0;
  }

  .monto {
    white-space: nowrap;
    color: colors.$color-30CC81;
    font-weight: bold;
    &.negativo {
      color: colors.$color-EB5757;
    }
  }

  .renglon-row {
    height: auto;
    vertical-align: middle;
    .mat-line {
      white-space: normal;
    }
    .renglon-row-content {
      padding: .7rem 0;
      .pedido-column{
        color: colors.$color-536070;
      }
      .pedido-column-content {
        text-align: center;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }
  }

  .mas-resultados {
    cursor: pointer;
    height: 60px;
    color: colors.$color-primary;
  }

  .sic-com-sin-cliente {
    span {
      height: 100px;
      color: colors.$color-primary;
      font-size: 18px;
    }
  }
  .error {
    color: colors.$color-EB5757;
    padding: 0.7rem 0;
  }

  .mat-mdc-list-item {
    color: colors.$color-536070 !important;
  }
}
