@import "../../../colors";

.sic-com-agregar-al-carrito-dialog {
  span.codigo {
    font-size: .8em;
    font-weight: normal;
    color: black;
  }
  p.descripcion {
    color: $color-primary;
    font-weight: bold;
    margin-top: 0;
  }
  .input-cantidad {
    width: 100px;
    padding: 0 10px;
  }
  .en-carrito {
    margin-top: 0;
    font-size: 0.85em;
  }
}
