<mat-dialog-content class="sic-com-agregar-al-carrito-dialog">
  <sic-com-agregar-al-carrito [cliente]="cliente" [producto]="producto"
    (cantidadUpdated)="onCantidadUpdated()" (loadingStatusUpdated)="onLoadingStatusUpdated($event)" (validStatusChanged)="onValidStatusChanged($event)" #aacc></sic-com-agregar-al-carrito>
  <br>
</mat-dialog-content>
<div fxLayoutAlign="center center" fxLayoutGap="0.5rem">
  <button mat-raised-button class="bg-color-FFDA41 small" *ngIf="producto.cantidadTotalEnSucursalesDisponible > 0" (click)="aaccSubmit()" [disabled]="aaccLoading || !cantidadValida">Aceptar</button>
  <button mat-raised-button mat-dialog-close [disabled]="aaccLoading" class="small">Cancelar</button>
</div>
