@use '@angular/material' as mat;

$app-palette-primary: mat.define-palette(mat.$yellow-palette, 700);
$app-palette-accent: mat.define-palette(mat.$gray-palette, 50);
$app-palette-warn: mat.define-palette(mat.$yellow-palette, 800);

$app-theme: mat.define-light-theme((
    color: (
        primary: $app-palette-primary,
        accent: $app-palette-accent,
        warn: $app-palette-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
));

$color-primary: mat.get-color-from-palette($app-palette-primary);
$color-accent: mat.get-color-from-palette($app-palette-accent);
$color-warn: mat.get-color-from-palette($app-palette-warn);

//custom
$color-1E222B: #1E222B;
$color-536070: #536070;
$color-828282: #828282;
$color-BDBDBD: #BDBDBD;
$color-E0E0E0: #E0E0E0;
$color-F2F2F2: #f2f2f2;
$color-F0C71B: #F0C71B;
$color-FFDA41: #FFDA41;
$color-30CC81: #30CC81;
$color-EB5757: #EB5757;
