@import '@angular/material/theming';

$app-palette-primary: mat-palette($mat-yellow, 700);
$app-palette-accent: mat-palette($mat-gray, 50);
$app-palette-warn: mat-palette($mat-yellow, 800);
$app-theme: mat-light-theme($app-palette-primary, $app-palette-accent, $app-palette-warn);

$color-primary: mat-color($app-palette-primary);
$color-accent: mat-color($app-palette-accent);
$color-warn: mat-color($app-palette-warn);

//custom
$color-1E222B: #1E222B;
$color-536070: #536070;
$color-828282: #828282;
$color-BDBDBD: #BDBDBD;
$color-E0E0E0: #E0E0E0;
$color-F2F2F2: #f2f2f2;
$color-F0C71B: #F0C71B;
$color-FFDA41: #FFDA41;
$color-30CC81: #30CC81;
$color-EB5757: #EB5757;
