@import "~@ng-select/ng-select/themes/material.theme.css";
@import "_colors.scss";

.ng-select-wrapper {
  display: block !important;
  margin-bottom: 1.25em !important;
}

.ng-select {
  padding-bottom: 0;
  .ng-select-container {
    align-items: center;
    min-height: 2.82195em;
    .ng-value-container {
      padding: 0;
      align-items: center;
    }
  }

  &.ng-select-focused {
    .ng-select-container {
      &:after {
        border-bottom-color: $color-primary;
      }
      .ng-value-container .ng-placeholder {
        color: $color-primary;
      }
      .ng-arrow-wrapper .ng-arrow {
        color: $color-primary;
      }
    }
  }

  &.ng-invalid.ng-touched {
    .ng-select-container {
      &:after {
        border-bottom-color: $color-primary;
      }
      .ng-value-container .ng-placeholder {
        color: $color-primary;
      }
      .ng-arrow-wrapper .ng-arrow {
        color: $color-primary;
      }
    }
  }

  & + mat-error {
    font-size: 75%;
    margin-top: 0.2em;
    position: absolute;
  }
}

.ng-dropdown-panel.ng-select-bottom {
  top: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sic-com-index {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: whitesmoke;

  .sic-com-spinner {
    text-align: center;

    img {
      top: -222px;
      position: relative;
      height: 90px;
      width: auto;
    }

    .sic-com-circulo-spinner {
      width: 150px;
      height: 150px;
      position: relative;
      margin: 100px auto;
      background-color: #cccccc;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% { -webkit-transform: scale(0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
        }
    }
  }
}

.mat-button-toggle-checked {
  background-color: $color-primary;
  color: $color-accent;
}
