@use 'sass:math';
@use './colors' as colors;

@import "~@ng-select/ng-select/themes/material.theme.css";

$mat-mdc-dialog-padding: 1rem;

.mat-mdc-dialog-surface {
  padding: $mat-mdc-dialog-padding!important;
}
.mat-mdc-dialog-content {
  margin: 0 !important;
  padding: 0 $mat-mdc-dialog-padding!important;
}
.mat-mdc-dialog-actions {
  margin-bottom: (-$mat-mdc-dialog-padding)!important;
}

.ng-select-wrapper {
  display: block !important;
  margin-bottom: 1.25em !important;
}

.ng-select {
  padding-bottom: 0;
  .ng-select-container {
    align-items: center;
    min-height: 2.82195em;
    .ng-value-container {
      padding: 0;
      align-items: center;
    }
  }

  &.ng-select-focused {
    .ng-select-container {
      &:after {
        border-bottom-color: colors.$color-primary;
      }
      .ng-value-container .ng-placeholder {
        color: colors.$color-primary;
      }
      .ng-arrow-wrapper .ng-arrow {
        color: colors.$color-primary;
      }
    }
  }

  &.ng-invalid.ng-touched {
    .ng-select-container {
      &:after {
        border-bottom-color: colors.$color-primary;
      }
      .ng-value-container .ng-placeholder {
        color: colors.$color-primary;
      }
      .ng-arrow-wrapper .ng-arrow {
        color: colors.$color-primary;
      }
    }
  }

  & + mat-error {
    font-size: 75%;
    margin-top: 0.2em;
    position: absolute;
  }
}

.ng-dropdown-panel.ng-select-bottom {
  top: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-app-background {
  background: colors.$color-F2F2F2;
}

.sic-com-index {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .sic-com-spinner {
    text-align: center;

    img {
      top: -222px;
      position: relative;
      height: 90px;
      width: auto;
    }

    .sic-com-circulo-spinner {
      width: 150px;
      height: 150px;
      position: relative;
      margin: 100px auto;
      background-color: #cccccc;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
      animation: sk-scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes sk-scaleout {
      0% { -webkit-transform: scale(0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      } 100% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
          opacity: 0;
        }
    }
  }
}

.placement {
  &.tablet {
    width: 90%;
    margin: 0 auto;
  }
  &.desktop {
    width: 1250px;
    margin: 0 auto;
  }
}

.mat-mdc-button-toggle-checked {
  background-color: colors.$color-primary;
  color: colors.$color-accent;
}

.mat-mdc-error {
  color: colors.$color-BDBDBD;
}

.custom-error {
  color: colors.$color-BDBDBD;
  padding: 0.7rem 0;
}

.pointer {
  cursor: pointer;
}

.rubro-button {
  padding: .4rem;
}

.login-template {
  color: colors.$color-536070;
  padding: 1rem;
  text-align: center;

  img {
    width: 135px;
    margin: 1.25rem 0;
  }

  a {
    text-decoration: none;
    font-size: 0.9em;
    color: inherit;
  }

  form {
    width: 100%;
    max-width: 300px;
  }
}

.page-template {
  color: colors.$color-536070 !important;
  padding: 1rem;
  a {
    text-decoration: none;
    font-size: 0.9em;
    color: inherit;
    cursor: pointer;
  }
}

svg {
  pointer-events: none;
}

.svg-button-wrapper {
  button.svg-button {
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 1.2em;
    margin-bottom: 0.7rem;
    &.md {
      width: 135px;
      height: 135px;
      padding: 2.7em;
      margin-bottom: 0.7rem;
    }
    border-radius: 50%;
    -webkit-box-shadow: 1px 0 5px 0 rgba(25, 25, 25, 0.3);
    -moz-box-shadow:    1px 0 5px 0 rgba(25, 25, 25, 0.3);
    box-shadow:         1px 0 5px 0 rgba(25, 25, 25, 0.3);
    background-color: white;
    border: none;
    color: colors.$color-FFDA41;
    outline: none;
    svg {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    &:focus, &:hover {
      color: colors.$color-F0C71B;
      -webkit-box-shadow: 1px 0 7px 0 rgba(25, 25, 25, 0.5);
      -moz-box-shadow:    1px 0 7px 0 rgba(25, 25, 25, 0.5);
      box-shadow:         1px 0 7px 0 rgba(25, 25, 25, 0.5);
    }
  }
  .name {
    font-size: .9em;
    font-weight: 500;
    color: #323232;
    text-align: center;
    &.md {
      font-size: 1.1em;
    }
  }
}

.nowrap {
  white-space: nowrap;
}

.sic-com-paginator {
  padding: .7rem;
  color: colors.$color-536070;
  button {
    font-weight: 500;
  }
  .page {
    padding: .5rem .9rem;
    margin: 0 .3rem;
    background: #DFDFDF;
    border-radius: 3px;
    letter-spacing: normal;
  }
  span {
    color: colors.$color-536070;
    letter-spacing: normal;
    font-weight: 500;
  }
  mat-icon {
    color: colors.$color-536070;
    font-weight: 500;
  }
}

.svg-container {
  height: 1em;
  width: 1em;
  display: inline-block;
  text-align: center;
  margin: 0 0.1em;
  svg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}

.back-button {
  font-size: 0.9em;
  font-weight: 500;
}

mat-icon.spin {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

//Form override
.mat-mdc-form-field.mat-form-field-invalid .mdc-line-ripple::after {
  border-color: colors.$color-BDBDBD;
}

.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: colors.$color-828282;
}

.mat-mdc-form-field.mat-focused .mdc-line-ripple::after {
  border-color: colors.$color-BDBDBD;
}

.mat-mdc-form-field.mat-warn .mat-mdc-input-element,
.mat-mdc-form-field.mat-form-field-invalid .mat-mdc-input-element {
  caret-color: colors.$color-828282;
}

.mdc-floating-label {
  font-size: 1.1em !important;
}

.mat-mdc-form-field.mat-form-field-invalid .mdc-floating-label {
  color: colors.$color-828282;
}

.mat-mdc-form-field.mat-form-field-invalid
  .mdc-floating-label .mat-form-field-required-marker {
  color: colors.$color-828282;
}

.mat-mdc-select-value-text {
  color: colors.$color-536070;
}

.mdc-text-field__input {
  color: colors.$color-536070 !important;
}

.mat-mdc-unelevated-button,
 a.mat-mdc-unelevated-button {
  color: inherit !important;
  line-height: 50px !important;
  font-size: 1.1rem !important;
  min-height: 50px !important;
  padding: 0 16px !important;
  border-radius: 4px !important;
  letter-spacing: normal !important;

  &.small {
    line-height: 30px !important;
    font-size: 0.9rem !important;
    min-height: 30px !important;
  }
}

.mdc-button.bg-color-FFDA41,
.mat-mdc-unelevated-button.bg-color-FFDA41,
.mat-mdc-raised-button.bg-color-FFDA41 {
  background-color: colors.$color-FFDA41 !important; 
  color: colors.$color-536070 !important;

  &:hover,
  &:focus {
    background-color: colors.$color-F0C71B !important;
  }
}

.mdc-button.bg-color-FFDA41:disabled,
.mat-mdc-raised-button.bg-color-FFDA41:disabled {
  background-color: colors.$color-BDBDBD !important;
  cursor: not-allowed;
  opacity: 0.5;
}

.mdc-button.bg-color-EB5757,
.mat-mdc-unelevated-button.bg-color-EB5757 {
  background-color: colors.$color-EB5757 !important;
  color: white !important;
}

.mdc-button.bg-color-E0E0E0,
.mat-mdc-unelevated-button.bg-color-E0E0E0 {
  background-color: colors.$color-E0E0E0 !important;
  color: colors.$color-536070 !important;
  letter-spacing: normal !important;

  &:hover,
  &:focus {
    background-color: colors.$color-BDBDBD;
  }

  .mat-mdc-list-item-line .mdc-list-item__secondary-text {
    color: colors.$color-536070 !important;
  }
}

.mdc-icon-button.bg-color-FFDA41,
.mat-mdc-icon-button.bg-color-FFDA41 {
  background-color: colors.$color-FFDA41 !important;
  color: colors.$color-536070 !important;

  &:hover,
  &:focus {
    background-color: colors.$color-F0C71B !important;
  }
}

.mat-mdc-step-header .mat-mdc-step-icon.mat-step-icon-state-edit {
  color: colors.$color-536070;
  background-color: colors.$color-BDBDBD;
}

.mat-mdc-step-header .mat-mdc-step-icon.mat-step-icon-selected {
  color: colors.$color-536070;
  background-color: colors.$color-FFDA41;
}

.hide-scroll {
  overflow: hidden;
}

.sic-com-spinner-container {
  height: 100px;
  color: colors.$color-primary;
}

.mat-mdc-form-field.mat-form-field-appearance-fill {
  .mat-mdc-text-field-wrapper {
    background-color: transparent !important;

  }

  .mat-mdc-form-field-focus-overlay {
    background-color: transparent !important;
  }
}

#lupa-button {
  --mdc-ripple-hover-opacity: 0;
  --mdc-ripple-focus-opacity: 0;
  --mdc-ripple-pressed-opacity: 0;
}

#lupa-button .mdc-icon-button__ripple,
#lupa-button .mat-mdc-button-persistent-ripple {
  display: none !important;
  pointer-events: none !important;
}

#lupa-button:hover,
#lupa-button:focus,
#lupa-button:active {
  background-color: transparent !important;
}
