<form *ngIf="!cliente || (cliente && inEdition)">

</form>
<div *ngIf="cliente && !inEdition" class="info">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1rem">
        <div fxFlex fxLayout="column" fxLayoutGap="0.4rem" fxLayoutAlign="start start">
            <span><strong>Id Fiscal:</strong> {{ cliente.idFiscal }}</span>
            <span><strong>Razón Social:</strong> {{ cliente.razonSocial }}</span>
            <span><strong>Nombre Fantasía:</strong> {{ cliente.nombreFantasia }}</span>
            <span><strong>Condición IVA:</strong> {{ cliente.nombreCondicionIVA }}</span>
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap="0.4rem" fxLayoutAlign="start start">
            <span><strong>Dirección:</strong> {{ cliente.direccion }}</span>
            <span><strong>País:</strong> {{ cliente.nombrePais }}</span>
            <span><strong>Provincia:</strong> {{ cliente.nombreProvincia }}</span>
            <span><strong>Localidad:</strong> {{ cliente.nombreLocalidad }}</span>
        </div>
        <div fxFlex fxLayout="column" fxLayoutGap="0.4rem" fxLayoutAlign="start start">
            <span><strong>Viajante:</strong> {{ cliente.nombreViajante }}</span>
            <span><strong>Teléfono #1:</strong> {{ cliente.telPrimario }}</span>
            <span><strong>Teléfono #2:</strong> {{ cliente.telSecundario }}</span>
            <span><strong>Contacto:</strong> {{ cliente.contacto }}</span>
            <span><strong>Email:</strong> {{ cliente.email }}</span>
            <span><strong>Fecha de Alta:</strong> {{ cliente.fechaAlta | date: 'dd/MM/yyyy' }}</span>
        </div>
    </div>
    <mat-action-row>
        <button mat-button color="primary" (click)="toggleEdit()">MODIFICAR</button>
    </mat-action-row>
</div>
