@use '../../../colors' as colors;

.sic-com-cliente {
  color: colors.$color-536070;
  font-size: 1.1rem;
  .info {
    mat-icon {
      color: colors.$color-BDBDBD;
    }
    /*.user-word-break {
      word-break: break-all;
    }*/
  }
}
