<div class="sic-com-container">
  <div *ngIf="!isLoading">
    <form fxLayout="column" [formGroup]="clienteForm" (ngSubmit)="submit()" *ngIf="!cliente || (cliente && inEdition)" fxLayoutGap="0.7rem">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <mat-select placeholder="Tipo de Cliente" formControlName="tipoDeCliente" required>
            <mat-option *ngFor="let tc of keys(tiposDeCliente)" [value]="tc">
              {{ tiposDeCliente[tc] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="clienteForm.get('tipoDeCliente').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <span fxFlex fxHide fxShow.gt-sm></span>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <input matInput type="number" placeholder="ID Fiscal" formControlName="idFiscal">
          <mat-error *ngIf="clienteForm.get('idFiscal').hasError('pattern')">
            Solo números
          </mat-error>
          <mat-hint>CUIL, CUIT o DNI según corresponda</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-select placeholder="Categoría de IVA" formControlName="categoriaIVA" required>
            <mat-option *ngFor="let ci of keys(categoriasIVA)" [value]="ci">
              {{ categoriasIVA[ci] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="clienteForm.get('categoriaIVA').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <input matInput placeholder="Razón Social" formControlName="razonSocial" required>
          <mat-error *ngIf="clienteForm.get('razonSocial').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Nombre de Fantasía" formControlName="nombreFantasia">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <input matInput placeholder="Dirección" formControlName="direccion">
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-select placeholder="País" formControlName="idPais">
            <mat-option></mat-option>
            <mat-option *ngFor="let p of paises" [value]="p.id_Pais">
              {{ p.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <mat-select placeholder="Provincia" formControlName="idProvincia">
            <mat-option *ngFor="let pr of provincias" [value]="pr.id_Provincia">
              {{ pr.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-select placeholder="Localidad" formControlName="idLocalidad">
            <mat-option *ngFor="let l of localidades" [value]="l.id_Localidad">
              {{ l.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.7rem">
        <mat-form-field fxFlex>
          <input matInput placeholder="Teléfono" formControlName="telefono" required>
          <mat-error *ngIf="clienteForm.get('telefono').hasError('required')">
            Requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="clienteForm.get('email').hasError('email')">
            Email inválido
          </mat-error>
        </mat-form-field>
      </div>
      <br>
      <mat-action-row fxLayoutGap="0.7rem">
        <button mat-raised-button type="submit" color="primary">Guardar</button>
        <button *ngIf="cliente" mat-raised-button type="button" (click)="toggleEdit()">Cancelar</button>
      </mat-action-row>
    </form>
    <div *ngIf="cliente && !inEdition" class="info">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1rem">
        <div fxFlex>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
            <mat-icon>assignment_ind</mat-icon>
            <span>#{{ cliente.nroCliente }}</span>
          </span>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center" *ngIf="cliente.idFiscal">
            <mat-icon>work</mat-icon>
            <span>{{ cliente.idFiscal }}</span>
          </span>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
            <mat-icon>grade</mat-icon>
            <span>{{ cliente.razonSocial }}</span>
          </span>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center" *ngIf="cliente.nombreFantasia">
            <mat-icon>copyright</mat-icon>
            <span>{{ cliente.nombreFantasia }}</span>
          </span>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center">
            <mat-icon>account_balance</mat-icon>
            <span>{{ categoriasIVA[cliente.categoriaIVA] }}</span>
          </span>
        </div>
        <div fxFlex>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center" *ngIf="cliente.nombreLocalidad">
            <mat-icon>place</mat-icon>
            <span>
              <span *ngIf="cliente.direccion"> {{ cliente.direccion }},</span>
              {{ cliente.nombreLocalidad }}, {{ cliente.nombreProvincia }}, {{ cliente.nombrePais }}
            </span>
          </span>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center" *ngIf="cliente.telefono">
            <mat-icon>phone</mat-icon>
            <span>{{ cliente.telefono }}</span>
          </span>
          <span fxLayout="row" fxLayoutGap="1rem" fxLayoutAlign="start center" *ngIf="cliente.email">
            <mat-icon>email</mat-icon>
            <span>{{ cliente.email }}</span>
          </span>
        </div>
      </div>
      <br>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="toggleEdit()">Modificar</button>
      </mat-action-row>
    </div>
  </div>
  <div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
</div>
