<div class="sic-com-menu">
  <div class="close-button-container">
    <button mat-icon-button aria-label="Cerrar menú" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <ul class="li-hover">
    <li>
      <a routerLink="/perfil" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>account_circle</mat-icon>
        <span>Mi cuenta</span>
      </a>
    </li>
  </ul>
  <mat-divider></mat-divider>
  <div class="spinner" fxLayoutAlign="center center" *ngIf="loading">
    <mat-spinner [diameter]="25" [strokeWidth]="4"></mat-spinner>
  </div>
  <sic-com-rubros-list [rubros]="rubros" [hideTodos]="true" *ngIf="!loading"></sic-com-rubros-list>
</div>
