@use '../../../colors' as colors;

.sic-com-cliente-ubicaciones {
  .mat-expansion-panel-header {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .mat-expansion-panel-header-title {
    color: colors.$color-536070;
  }
}
