<div class="sic-com-checkout">
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading" class="sic-com-spinner-container">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
  <mat-vertical-stepper *ngIf="!isLoading" linear #stepper (selectionChange)="changeStep($event)">
    <mat-step [stepControl]="checkoutPaso1Form" *ngIf="checkoutPaso1Form">
      <form [formGroup]="checkoutPaso1Form" autocomplete="off">
        <ng-template matStepLabel>
          <div class="cliente-label">
            Cliente: <strong>{{ cliente ? cliente.nombreFiscal: '' }}</strong>
          </div>
        </ng-template>
        <input type="hidden" formControlName="id_Cliente" required>
        <div *ngIf="puedeVenderAOtroCliente()">
          <mat-radio-group [value]="opcionCliente.CLIENTE_USUARIO" fxLayout="column" fxLayoutGap="1rem" (change)="opcionClienteChange($event)">
            <mat-radio-button color="primary" *ngFor="let oc of opcionesCliente" [value]="oc.value">{{ oc.text }}</mat-radio-button>
          </mat-radio-group>
          <br>
          <div *ngIf="opcionClienteSeleccionada == opcionCliente.OTRO_CLIENTE">
            <mat-form-field fxFill="100">
              <input matInput placeholder="Nombre o Nro de Cliente" (keyup)="onBusqKeyUp($event)" #busquedaInput>
            </mat-form-field>
            <mat-nav-list>
              <mat-list-item *ngFor="let c of clientes" (click)="seleccionarCliente(c)" [class.seleccionado]="cliente && cliente.id_Cliente === c.id_Cliente">
                <h3 matLine class="nro-cliente">#{{ c.nroCliente }}</h3>
                <p matLine class="razon-social">{{ c.nombreFiscal }}</p>
                <p matLine class="nombre-fantasia" *ngIf="c.nombreFantasia">{{ c.nombreFantasia }}</p>
              </mat-list-item>
            </mat-nav-list>
            <div fxLayout="row" fxLayoutAlign="center center" class="sic-com-spinner-container" *ngIf="isClientesLoading">
              <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
            </div>
            <div class="sic-com-mas-resultados" fxLayout="row" fxLayoutAlign="center center"
                 *ngIf="!isClientesLoading && clientes.length && (clientesTotalPaginas > (clientesPagina + 1))"
                 (click)="masClientes(busquedaInput.value)">
              <strong>MAS RESULTADOS</strong>
            </div>
          </div>
          <div class="botonera">
            <button mat-raised-button color="primary" matStepperNext [disabled]="!cliente">Continuar</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step  [stepControl]="checkoutPaso1_5Form" *ngIf="checkoutPaso1_5Form">
      <form [formGroup]="checkoutPaso1_5Form">
        <ng-template matStepLabel>
          <div class="cliente-label">
            Datos del Cliente
          </div>
        </ng-template>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isUbicacionesLoading" class="sic-com-spinner-container">
          <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
        </div>
        <div *ngIf="!isUbicacionesLoading">
          <div *ngIf="!checkoutPaso1_5Form.get('clienteUbicacionFacturacion').value" class="ubicacion-error">
            EL CLIENTE NO POSEE DIRECCIÓN DE FACTURACION. Puede agregar esta dirección haciendo click en botón "Modificar".
          </div>
          <sic-com-cliente [c]="cliente" (updated)="clienteUpdated($event)"></sic-com-cliente>
        </div>
        <div class="botonera">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!cliente">Continuar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="checkoutPaso3Form" *ngIf="checkoutPaso3Form">
      <form [formGroup]="checkoutPaso3Form">
        <ng-template matStepLabel>
          <div class="cliente-label">
            Envío: <strong></strong>
          </div>
        </ng-template>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isUbicacionesLoading" class="sic-com-spinner-container">
          <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
        </div>
        <div *ngIf="!isUbicacionesLoading">
          <mat-radio-group formControlName="opcionEnvio" fxLayout="column" fxLayoutGap="1rem">
            <mat-radio-button color="primary" *ngFor="let oe of opcionesEnvio" [value]="oe.value">
              {{ oe.text }}
            </mat-radio-button>
          </mat-radio-group>
          <br>
          <div *ngIf="checkoutPaso3Form.get('opcionEnvio').value === opcionEnvio.RETIRO_SUCURSAL">
            <strong>Sucursal: </strong> {{ getUbicacionStr() }}
            <div *ngIf="checkoutPaso3Form.errors?.requiredSucursal" style="color: #f9a825; font-size: 75%;">
              Requerido
            </div>
            <br><br>
            <agm-map [latitude]="-27.4910086" [longitude]="-58.8310667" [zoom]="12" [streetViewControl]="false">
              <agm-marker *ngFor="let s of sucursales" [latitude]="s.ubicacion.latitud"
                          [longitude]="s.ubicacion.longitud"
                          [title]="s.nombre"
                          (markerClick)="markerSucursalesClick(s)">
                <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                  <ng-template>
                    {{ s.nombre + '(' + s.ubicacion.descripcion + ')' }}
                  </ng-template>
                </agm-snazzy-info-window>
              </agm-marker>
            </agm-map>
          </div>
          <div *ngIf="checkoutPaso3Form.get('opcionEnvio').value === opcionEnvio.DIRECCION_FACTURACION">
            <strong>Direccion Facturación registrada:</strong><br>
            <em>
              {{ ubicacionFacturacion.calle }} {{ ubicacionFacturacion.numero }}
              {{ ubicacionFacturacion.nombreLocalidad }}, {{ ubicacionFacturacion.nombreProvincia }}
            </em>
          </div>
          <div *ngIf="checkoutPaso3Form.get('opcionEnvio').value === opcionEnvio.DIRECCION_ENVIO">
            <fieldset>
              <legend>&nbsp;DIRECCIÓN DE ENVÍO&nbsp;</legend>
              <sic-com-ubicacion-form (formReady)="formInitialized('ubicacionEnvio', $event, ubicacionEnvio)"></sic-com-ubicacion-form>
            </fieldset>
          </div>
        </div>
        <div class="botonera">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!cliente">Continuar</button>
        </div>
        <!--{{ checkoutPaso3Form.value | json }}-->
      </form>
    </mat-step>
    <mat-step [stepControl]="checkoutPaso2Form" *ngIf="checkoutPaso2Form">
      <form [formGroup]="checkoutPaso2Form">
        <ng-template matStepLabel>Resumen</ng-template>
        <div fxLayoutAlign="space-between center" fxLayout.lt-sm="column" *ngIf="!loadingTotales && cliente" class="resumen"
             fxLayoutGap=".8rem">
          <div>Cant. de Artículos: {{ cantidadArticulos| number:'1.0-2':'es-AR' }}</div>
          <div>Subtotal: <span class="valor">$ {{ subTotal| number:'1.2-2':'es-AR' }}</span></div>
          <div>
            <mat-chip-list>
              <mat-chip class="sic-com-bonificacion valor" color="primary">
                Bonificación: {{ cliente.bonificacion | number:'1.0-2':'es-AR' }} %
              </mat-chip>
            </mat-chip-list>
          </div>
          <div>Total: <span class="valor">$ {{ total| number:'1.2-2':'es-AR' }}</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingTotales" class="sic-com-spinner-container">
          <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
        </div>
        <br>
        <div>
          <mat-form-field fxFlexFill class="observaciones">
            <textarea matInput placeholder="Observaciones" formControlName="observaciones" rows="3"
                      #observacionesTextArea></textarea>
            <mat-error *ngIf="checkoutPaso2Form.get('observaciones').hasError('maxlength')">
              Máximo 200 caracteres
            </mat-error>
            <mat-hint align="end">
              {{checkoutPaso2Form.get('observaciones').value.length}} / {{ observacionesMaxLength}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div *ngIf="!enviarOrdenLoading" class="acciones">
          <button mat-raised-button color="primary" (click)="cerrarOrden()"
                  [disabled]="loadingTotales || !cliente || checkoutPaso1Form.invalid || checkoutPaso2Form.invalid || checkoutPaso3Form.invalid">
            Confirmar
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="enviarOrdenLoading" class="sic-com-spinner-container">
          <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
