@import "../../../_colors.scss";

.sic-com-checkout {
  background-color: white;
  .sic-com-ir-listado {
    height: 40px;
    cursor: pointer;
  }

  .sic-com-bonificacion {
    color: white;
    background-color: limegreen;
  }

  .resumen {
    margin-top: .5rem;
    font-weight: bold;
  }

  .valor {
    white-space: nowrap;
  }

  .acciones {
    text-align: right;
  }

  .nro-cliente {
    white-space: normal;
    font-size: .85em;
  }

  .razon-social {
    white-space: normal;
    font-size: 1em;
  }

  .nombre-fantasia {
    white-space: normal;
    color: #666;
  }

  .sic-com-mas-resultados {
    color: $color-primary;
    cursor: pointer;
    height: 90px;
    font-size: 14px;
  }

  .sic-com-spinner-container {
    height: 90px;
    color: $color-primary;
  }

  .cliente-label {
    white-space: normal;
  }

  .botonera {
    text-align: right;
  }

  .seleccionado {
    color: $color-primary;
  }

  .seleccionado .nombre-fantasia {
    color: $color-primary;
  }

  .observaciones {
    padding: 10px;
  }

  .opcion-envio-container {
    padding-left: 1.8rem;
  }

  .mapa {
    height: 400px;
  }

  .ubicacion-error, .error {
    color: red;
    padding: 0.7rem 0;
  }

  .sucursal-error {
    color: #f9a825; font-size: 75%; margin-top: -14px;
  }

  .btn-small {
    font-size: 0.9em;
  }

  .boton-pago {
    min-width: 13rem;
  }
}
