<div class="sic-com-checkout">
  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoading" class="sic-com-spinner-container">
    <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
  </div>
  <mat-vertical-stepper *ngIf="!isLoading" linear #stepper (selectionChange)="changeStep($event)">
    <mat-step [stepControl]="checkoutPaso1Form" *ngIf="checkoutPaso1Form">
      <form [formGroup]="checkoutPaso1Form" autocomplete="off">
        <ng-template matStepLabel>
          <div class="cliente-label">
            Cliente: <strong>{{ cliente ? cliente.nombreFiscal: '' }}</strong>
          </div>
        </ng-template>
        <input type="hidden" formControlName="id_Cliente" required>
        <div *ngIf="puedeVenderAOtroCliente()">
          <mat-radio-group [value]="opcionCliente" fxLayout="column" fxLayoutGap="1rem"
                           (change)="opcionClienteChange($event)">
            <mat-radio-button color="primary" value="1">Mi Cuenta de Cliente</mat-radio-button>
            <mat-radio-button color="primary" value="2">Buscar Cliente</mat-radio-button>
          </mat-radio-group>
          <br>
          <div *ngIf="opcionCliente == 2">
            <mat-form-field fxFill="100">
              <input matInput placeholder="Nombre o Nro de Cliente" (keyup)="onBusqKeyUp($event)" #busquedaInput>
            </mat-form-field>
            <mat-nav-list>
              <mat-list-item *ngFor="let c of clientes" (click)="seleccionarCliente(c)" [class.seleccionado]="cliente && cliente.id_Cliente === c.id_Cliente">
                <h3 matLine class="nro-cliente">#{{ c.nroCliente }}</h3>
                <p matLine class="razon-social">{{ c.nombreFiscal }}</p>
                <p matLine class="nombre-fantasia" *ngIf="c.nombreFantasia">{{ c.nombreFantasia }}</p>
              </mat-list-item>
            </mat-nav-list>
            <div fxLayout="row" fxLayoutAlign="center center" class="sic-com-spinner-container" *ngIf="isClientesLoading">
              <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
            </div>
            <div class="sic-com-mas-resultados" fxLayout="row" fxLayoutAlign="center center"
                 *ngIf="!isClientesLoading && clientes.length && (clientesTotalPaginas > (clientesPagina + 1))"
                 (click)="masClientes(busquedaInput.value)">
              <strong>MAS RESULTADOS</strong>
            </div>
          </div>
        </div>
        <div class="botonera">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!cliente">Continuar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="checkoutPaso2Form" *ngIf="checkoutPaso2Form">
      <form [formGroup]="checkoutPaso2Form">
        <ng-template matStepLabel>Resumen</ng-template>
        <div fxLayoutAlign="space-between center" fxLayout.lt-sm="column" *ngIf="!loadingTotales && cliente" class="resumen"
             fxLayoutGap=".8rem">
          <div>Cant. de Artículos: {{ cantidadArticulos| number:'1.0-2':'es-AR' }}</div>
          <div>Subtotal: <span class="valor">$ {{ subTotal| number:'1.2-2':'es-AR' }}</span></div>
          <div>
            <mat-chip-list>
              <mat-chip class="sic-com-bonificacion valor" color="primary">
                Bonificación: {{ cliente.bonificacion | number:'1.0-2':'es-AR' }} %
              </mat-chip>
            </mat-chip-list>
          </div>
          <div>Total: <span class="valor">$ {{ total| number:'1.2-2':'es-AR' }}</span></div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="loadingTotales" class="sic-com-spinner-container">
          <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
        </div>
        <br>
        <div>
          <mat-form-field fxFlexFill class="observaciones">
            <textarea matInput placeholder="Observaciones" formControlName="observaciones" rows="3"
                      #observacionesTextArea></textarea>
            <mat-error *ngIf="checkoutPaso2Form.get('observaciones').hasError('maxlength')">
              Máximo 200 caracteres
            </mat-error>
            <mat-hint align="end">
              {{checkoutPaso2Form.get('observaciones').value.length}} / {{ observacionesMaxLength}}
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="botonera">
          <button mat-raised-button color="primary" matStepperNext [disabled]="!cliente">Continuar</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="checkoutPaso3Form" *ngIf="checkoutPaso3Form">
      <form [formGroup]="checkoutPaso3Form">
        <ng-template matStepLabel>
          <div class="cliente-label">
            Envío: <strong></strong>
          </div>
        </ng-template>
        <mat-radio-group [value]="opcionEnvio" fxLayout="row" fxLayoutGap="1rem" (change)="opcionEnvio = $event.value" >
          <mat-radio-button color="primary" value="1">Retiro en sucursal</mat-radio-button>
          <mat-radio-button color="primary" value="2">Envio a Domicilio</mat-radio-button>
        </mat-radio-group>
        <br>
        <div fxLayout="column" *ngIf="opcionEnvio === '1'">
          <agm-map [latitude]="-27.4910086" [longitude]="-58.8310667" [zoom]="12">
            <agm-marker *ngFor="let ll of sucursalesLatLng" [latitude]="ll.lat"
                        [longitude]="ll.lng"
                        [title]="ll.title"
                        [iconUrl]="ll.iconUrl"
                        (markerClick)="markerSucursalesClick($event)">
              <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                  {{ ll.title }}
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
        </div>
        <div fxLayout="column" formGroupName="direccion"  *ngIf="opcionEnvio === '2'">
          <agm-map [latitude]="-27.4910086" [longitude]="-58.8310667" [zoom]="12" (mapReady)="mapDireccionReady()">

          </agm-map>
          <!--<div class="opcion-envio-container">
            <div  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0.7rem">
              <mat-form-field fxFlex>
                <mat-select placeholder="Provincia" formControlName="provincia_id">
                  <mat-option *ngFor="let p of provincias" [value]="p.id">
                    {{ p.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex>
                <mat-select placeholder="Localidad" formControlName="localidad_id">
                  <mat-option *ngFor="let l of localidades" [value]="l.id">
                    {{ l.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div  fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="0.7rem">
              <mat-form-field fxFlex>
                <input matInput type="text" formControlName="calle" placeholder="Calle">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput type="text" formControlName="numero" placeholder="Número">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input matInput type="text" formControlName="piso" placeholder="Piso">
              </mat-form-field>
            </div>
          </div>-->
        </div>
        <div *ngIf="!enviarOrdenLoading" class="acciones">
          <button mat-raised-button color="primary" (click)="cerrarOrden()"
                  [disabled]="loadingTotales || !cliente || checkoutPaso1Form.invalid || checkoutPaso2Form.invalid || checkoutPaso3Form.valid">
            Confirmar
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="enviarOrdenLoading" class="sic-com-spinner-container">
          <mat-spinner [diameter]="50" [strokeWidth]="6"></mat-spinner>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>
