@import "../../../_colors.scss";

.sic-com-favorito-button {
  padding: 0;
  color: $color-BDBDBD;
  &:hover {
    color: $color-828282
  }
  &.on {
    color: $color-FFDA41;
    &:hover {
      color: $color-F0C71B;
    }
  }
}
