@use "../../../colors" as colors;

.sic-com-favorito-button {
  padding: 0;
  color: colors.$color-BDBDBD;
  &:hover {
    color: colors.$color-828282
  }
  &.on {
    color: colors.$color-FFDA41;
    &:hover {
      color: colors.$color-F0C71B;
    }
  }
}
